<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Whislist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="favoritos.length > 0; else noFavoritos">
    <ion-card *ngFor="let libro of favoritos">
      <ion-card-header>
        <ion-card-title>{{ libro.titulo }}</ion-card-title>
        <ion-card-subtitle>Autor: {{ libro.autor }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>ISBN: {{ libro.isbn }}</p>
        <ion-button [routerLink]="['/personas-ownerbook', libro.isbn]">
          <ion-icon name="people-outline"></ion-icon>
          Ver personas con este libro
        </ion-button>
        <ion-button (click)="eliminarFavorito(libro.isbn)">
          <ion-icon name="trash-outline"></ion-icon>
          Eliminar de Favoritos
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ng-template #noFavoritos>
    <ion-text color="medium">
      <p>No tienes libros en favoritos.</p>
    </ion-text>
  </ng-template>
</ion-content>
