<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/listar-libro">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Modificar Libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form >
    <ion-item>
      <div class="label-button-container">
        <ion-label position="stacked">ISBN</ion-label>
        <ion-button class="ejemplo" id="click-trigger">ejemplo</ion-button>
        <ion-popover trigger="click-trigger" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-img src="assets/imagenes/isbn-ejemplo.png" alt=""></ion-img>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
      <ion-input  name="isbn" placeholder="Ejemplo: 9123456789123" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input  name="titulo" placeholder="Ejemplo: El principito" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Autor</ion-label>
      <ion-input name="autor" placeholder="Ejemplo: Pablo Neruda" required></ion-input>
    </ion-item>

    <ion-item style="--ion-item-border-color: transparent;">
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea class="descripcion" name="descripcion" 
      placeholder="Ejemplo: En un mundo donde los sueños y la realidad se entrelazan, una joven ..."required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Género</ion-label>
      <ion-select class="opcion" placeholder="Seleccione una opción"  name="genero" required>
        <ion-select-option value="aventura">Aventura</ion-select-option>
        <ion-select-option value="autoayuda">Autoayuda</ion-select-option>
        <ion-select-option value="bibliografiayautobiografia">Bibliografía y autobiografía</ion-select-option>
        <ion-select-option value="cienciaficción">Ciencia ficción</ion-select-option>
        <ion-select-option value="comicsynovelagrafica">Comics y novela gráfica</ion-select-option>
        <ion-select-option value="divulgacioncientifica">Divulgación científica</ion-select-option>
        <ion-select-option value="drama">Drama</ion-select-option>
        <ion-select-option value="educativo">Educativo</ion-select-option>
        <ion-select-option value="ensayo">Ensayo</ion-select-option>
        <ion-select-option value="fantasia">Fantasia</ion-select-option>
        <ion-select-option value="ficción">Ficción</ion-select-option>
        <ion-select-option value="ficcióncontemporánea">Ficción contemporánea</ion-select-option>
        <ion-select-option value="historia">Historia</ion-select-option>
        <ion-select-option value="historico">Histórico</ion-select-option>
        <ion-select-option value="horror">Horror</ion-select-option>
        <ion-select-option value="humor">Humor</ion-select-option>
        <ion-select-option value="juvenil">Juvenil</ion-select-option>
        <ion-select-option value="literaturaclasica">Literatura clásica</ion-select-option>
        <ion-select-option value="misterio">Misterio</ion-select-option>
        <ion-select-option value="novelahistórica">Novela histórica</ion-select-option>
        <ion-select-option value="poesia">Poesía</ion-select-option>
        <ion-select-option value="policiaco">Policíaco</ion-select-option>
        <ion-select-option value="psicologia">Psicología</ion-select-option>
        <ion-select-option value="religiosoyespiritual">Religioso y espiritual</ion-select-option>
        <ion-select-option value="romance">Romance</ion-select-option>
        <ion-select-option value="terror">Terror</ion-select-option>
        <ion-select-option value="thriller">Thriller</ion-select-option>
        <ion-select-option value="suspenso">Suspenso</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item style="--ion-item-border-color: transparent;">
      <ion-label position="stacked">Imagen del Libro</ion-label>
      <input class="foto" type="file" accept="image/*" required />
    </ion-item>

    <div >
      <img class="libro" alt="Previsualización" />
    </div>

    <ion-button ion-button expand="block" type="submit">Actualizar Libro</ion-button>
  </form>
</ion-content>
