<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/chat">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <div class="mensajes-container">
    <div *ngFor="let mensaje of mensajes" [ngClass]="{'mensaje-remitente': esMensajeDelUsuario(mensaje), 'mensaje-receptor': !esMensajeDelUsuario(mensaje)}">
      <p><strong>{{ mensaje.nombre_usuario }}</strong></p>
      <p>{{ mensaje.contenido }}</p>
    </div>
  </div>

  <div class="enviar-mensaje">
    <ion-input [(ngModel)]="nuevoMensaje" placeholder="Escribe un mensaje..."></ion-input>
    <ion-button (click)="enviarMensaje()">
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
