<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondobody">
  <ion-title class="titulo">Agregar Género</ion-title>



  <ion-card >
    <ion-card-header >
      <ion-card-title>Nuevo Género</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Nombre del Género</ion-label>
          <ion-input [(ngModel)]="nuevoGenero" name="nuevoGenero" required></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit">Agregar Género</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
