<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-buttons slot="start">
    <ion-button routerLink="/home">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <div class="login-container">
  
    <img class="logo" src="assets/imagenes/logobookshare.png" alt="Logo" />

    <ion-title class="titulo">Iniciar Sesión</ion-title>

    <br>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div>
        <ion-label for="correo">Correo:</ion-label>
        <br>
        <input
          type="email"
          id="correo"
          required
          [(ngModel)]="correo"
          name="correo"
          placeholder="Ingresa tu correo"
        />
      </div>

      <br>

      <div>
        <ion-label for="contrasena">Contraseña:</ion-label>
        <br>
        <input
          type="password"
          id="contrasena"
          required
          [(ngModel)]="contrasena"
          name="contrasena"
          placeholder="Ingresa tu contraseña"
        />
      </div>

      <ion-button type="submit" expand="block">Iniciar Sesión</ion-button>

      <div style="margin-top: 16px;">
        <a routerLink="/register">¿No tienes cuenta? <strong>Regístrate</strong></a>
      </div>

    </form>
    <div *ngIf="errorMessage" class="error" style="color: red; margin-top: 10px;">{{ errorMessage }}</div>
  </div>
</ion-content>
