.fondo {

    --background: #ffffff !important;
    ion-toolbar {
        --background: #ffffff !important;
        color: #ffffff !important;
  
        ion-icon {
            color: #229E88;
        }
    }
  }
  
  
  .arriba {
    --background: #229E88;
  }
  
  
  ion-content {
      --background: #f0dfc0;
  
    
    .login-container {
      padding: 16px;
      text-align: center;

      .logo {
        max-width: 100%; 
        height: auto; 

      }
      
      .titulo {
          color:#000000;
          font-family: Helvetica;
          font-weight: bold;
          font-size: 25px;
      }
    
      // Estilo para los ion-labels
      ion-label {
        color: #229E88;
        font-weight: bold;
        font-size: 18px;
      }
    
      // Estilo para los inputs (correo y contraseña)
      input {
        color: #000000;
        background:#FFFFFF;
        border: 3px solid #ddd;
        font-family: Helvetica;
        border-radius: 4px;
        padding: 8px;
        margin-top: 5px;
        width: 100%;
        max-width: 80%;
        box-sizing: border-box;
      }
    
      // Estilo para el botón de iniciar sesión
      ion-button {
        color: #ffffff;
        --background: #229E88;
        border-radius: 15px;
        font-family: Helvetica;
        margin-top: 16px;
        width: 100%;
        max-width: 60%;
        font-size: 16px;
        font-weight: bold;
        display: block;
        justify-content: center; /* Asegura que el texto dentro del botón esté centrado */
        align-items: center;
        margin-left: 20%;
      }
    
      // Estilo para el enlace de registro
      a {
        color: #229E88;
        font-family: Helvetica;
        font-weight: bold;
        text-decoration: none;
      }
    
      // Estilo para el mensaje de error
      .error {
        color: red;
        margin-top: 10px;
      }
    }
    
  }