.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;



        ion-icon {
            color: #ffffff;
        }
    }
}

.titulo {
    font-weight: bold; /* Texto en negrita */
    color: #111b21; /* Color del texto */
    font-family: "Rethink Sans", sans-serif; /* Fuente similar a WhatsApp */
    text-align: left; /* Alineación a la izquierda */
    font-size: 2.25rem; /* Tamaño cómodo */
    line-height: 1.5; /* Mejora la separación vertical */
    margin: 16px 16px 0; /* Separación hacia los lados y arriba */
    padding: 8px 0; /* Separación adicional dentro del título */
}

ion-content {

    --background: #ebe7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    ion-item {
        --background: transparent !important;
        max-width: 70%;
        width: 100%;
        --ion-item-border-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;


        ion-thumbnail {

            .imagen {
                border-radius: 8%;
            }
        }

        ion-label {

            .titulo {
                font-size: 14px;
                color: #000000;
                font-family: Helvetica;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .prestamo,
            .intercambio {
                --background: #e96a24;
                font-size: 0.8rem;
                color: #ffffff;
                font-family: Helvetica;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .eliminar {
                --background: #c92929;
                font-size: 0.8rem;
                color: #ffffff;
                font-family: Helvetica;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
}

@media (max-width: 2560px) {
    ion-content {

        --background: #ebe7e7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        ion-item {
            margin-left: 55rem;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-thumbnail {
                .imagen {
                    border-radius: 8%;
                }
            }

            ion-label {

                .titulo {
                    font-size: 14px;
                    color: #000000;
                    font-family: Helvetica;
                    font-weight: bold;
                }

                .prestamo,
                .intercambio {
                    --background: #e96a24;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }

                .eliminar {
                    --background: #c92929;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }
            }
        }
    }
}


@media (max-width: 1920px) {

    ion-content {

        --background: #ebe7e7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        ion-item {
            margin-left: 35rem;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-thumbnail {
                .imagen {
                    border-radius: 8%;
                }
            }

            ion-label {

                .titulo {
                    font-size: 14px;
                    color: #000000;
                    font-family: Helvetica;
                    font-weight: bold;
                }

                .prestamo,
                .intercambio {
                    --background: #e96a24;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }

                .eliminar {
                    --background: #c92929;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    ion-content {

        --background: #ebe7e7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        ion-item {
            margin-left: 4.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-thumbnail {
                .imagen {
                    border-radius: 8%;
                }
            }

            ion-label {

                .titulo {
                    font-size: 14px;
                    color: #000000;
                    font-family: Helvetica;
                    font-weight: bold;
                }

                .prestamo,
                .intercambio {
                    --background: #e96a24;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }

                .eliminar {
                    --background: #c92929;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }
            }
        }
    }
}

@media (max-height: 900px) {
    ion-content {

        --background: #ebe7e7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        ion-item {
            margin-left: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-thumbnail {
                .imagen {
                    border-radius: 8%;
                }
            }

            ion-label {

                .titulo {
                    font-size: 14px;
                    color: #000000;
                    font-family: Helvetica;
                    font-weight: bold;
                }

                .prestamo,
                .intercambio {
                    --background: #e96a24;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }

                .eliminar {
                    --background: #c92929;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }
            }
        }
    }
}
