.fondo {
    ion-toolbar {
        --background: #229E88 !important;
        color: #ffffff;

        ion-title {
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            font-family: Helvetica;
            left: 50%;
            transform: translateX(-3%);
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {

    --background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    ion-item {
        --background: transparent !important;
        max-width: 80%;
        width:100%;
        --ion-item-border-color: transparent;


        ion-thumbnail {

            .imagen {
                border-radius: 8%;
            }
        }

        ion-label {

            .titulo {
                font-size: 14px;
                color:#000000;
                font-family: Helvetica;
                font-weight: bold;
            }

            .prestamo,.intercambio {
                --background: #229E88;
                font-size: 12px;
                color:#000000;
                font-family: Helvetica;
            }
        }

    }

}




@media (min-width: 1920px) {
    ion-item {
        margin-left: 32%; 
    }
}

@media (max-width: 600px) {
    ion-item {
        margin-left: 10%;
    }
}

@media (max-height: 900px) {
    ion-item {
        margin-left: 18%;
    }
}