<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Mis Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item *ngFor="let libro of libros">
      <ion-thumbnail slot="start">
        <img class="imagen" [src]="'data:image/jpeg;base64,' + libro.imagen_base64" alt="Imagen del libro" />
      </ion-thumbnail>
      <ion-label>
        <h2 class="titulo">{{ libro.titulo }}</h2>
        <ion-button (click)="cambiarEstadoPrestamo(libro.isbn, !libro.disponible_prestamo)">
          {{ libro.disponible_prestamo ? 'Marcar como No Disponible prestamo' : 'Marcar como Disponible prestamo' }}
        </ion-button>
        <ion-button (click)="cambiarEstadoIntercambio(libro.isbn, !libro.disponible_intercambio)">
          {{ libro.disponible_intercambio ? 'Marcar como No Disponible intercambio' : 'Marcar como intercambio Disponible' }}
        </ion-button>
      </ion-label>
     <br>
    
    </ion-item>

</ion-content>
