.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #ebe7e7;

    ion-title {
        font-weight: bold;
        color: #272727;
        font-family: "Rethink Sans", sans-serif;
        font-size: 2rem;
        text-align: start;
        width: 100%;
        max-width: 95%;
        margin-top: 0.5rem;
    }

    ion-list {
        background: transparent;
        width: 100%;
        max-width: 95%;
        margin-top: 0.5rem;
        border-radius: 7px;
        margin-left: 2%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        ion-card {
            --background: #2f4858;
            width: 100%;
            max-width: 95%;
            height: auto;
            border-radius: 1rem;

            ion-card-header {
                ion-card-title {
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 1.1rem;
                    color: #ffffff;
                }
            }

            ion-card-title {
                font-family: "Rethink Sans", sans-serif;
                font-size: 1rem;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            ion-card-content {
                p {
                    font-size: 0.9rem;
                    font-family: "Rethink Sans", sans-serif;
                    color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            /*----------------BOTONES----------------*/
            .seleccionar {
                --background: #001c2e;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.8rem;
                width: 100%;
                max-width: 8rem;
                --border-radius: 20px;
            }

            .ver {
                --background: #00568b;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.8rem;
                width: 100%;
                max-width: 7rem;
                --border-radius: 20px;

                ion-icon {
                    font-size: 1.5rem;
                    color: #ffffff;
                }
            }

            /*---------------------------------------*/
        }
    }

    ion-card {
        --background: #e96a24;
        width: 100%;
        max-width: 95%;
        height: auto;
        border-radius: 2rem;
        margin-left: 2.5%;

        ion-card-header {
            ion-card-title {
                font-family: "Rethink Sans", sans-serif;
                font-size: 1rem;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        ion-card-content {
            p {
                font-family: "Rethink Sans", sans-serif;
                font-size: 1rem;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }



}