<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/listar-intercambio">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-title class="titulo">Libros disponibles</ion-title>

  <ion-list>
    <ion-card *ngFor="let libro of librosDisponiblesIntercambio">

      <ion-thumbnail slot="start">
        <img *ngIf="libro.imagen_libro" [src]="'data:image/jpeg;base64,' + libro.imagen_libro" alt="Imagen del libro">
      </ion-thumbnail>

      <ion-card-header>
        <ion-card-title>{{ libro.titulo }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{ libro.autor }}</p>
        <p><strong>Género:</strong> {{ libro.genero }}</p>
        <!-- Botones para actualizar el intercambio y ver personas con el libro -->

        <ion-buttons style="align-items: center; display: flex; justify-content: center; margin-top: 1rem;">
          <ion-button class="seleccionar"
            (click)="actualizarIntercambio(libro.id_biblioteca);actualizarEstadoIntercambio();">
            Seleccionar libro
          </ion-button>

          <ion-button class="ver" expand="block" (click)="irAPersonasConLibro(libro.isbn)">
            <ion-icon name="eye-outline"></ion-icon> Vista del libro
          </ion-button>
        </ion-buttons>

      </ion-card-content>

    </ion-card>
  </ion-list>

  <ng-container *ngIf="librosDisponiblesIntercambio.length === 0">
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay solicitudes 🥲</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Este perfil no tiene libros para intercambiar</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>