.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;

        ion-title {
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            font-family: "Rethink Sans", sans-serif;
            display: flex;
            font-size: 1.5rem;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}


ion-content {
    --background: #ebe7e7;

    ion-card {
        --background: #ebe7e7;
        border-radius: 2rem;
        margin-top: 1rem;
        width: 100%;
        max-width: 40%;
        height: auto;
        display: block;
        justify-items: center;
        align-items: center;
        margin-left: 30%;

        ion-card-header {
            .foto {
                display: flex;
                justify-content: center;

                img {
                    width: 100%;
                    max-width: 40%;
                    height: auto;
                    border-radius: 1.5rem;
                }
            }
        }

        ion-card-content {
            .nomusuario {
                color: #000000;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                margin-top: 1rem;
                font-family: "Rethink Sans", sans-serif;
            }

            p {
                color: #000000;
                font-size: 1.2rem;
                font-family: "Rethink Sans", sans-serif;
                text-align: center;
            }

            .btn-editar {
                color: #ffffff;
                --background: #e96a24;
                border-radius: 5px;
                font-family: "Rethink Sans", sans-serif;
                margin-top: 1rem;
                width: 100%;
                max-width: 27%;
                font-size: 1.2rem;
                font-weight: bold;
                margin-left: 35%;
            }
        }
    }

    .resena {
        --background: inherit;;
        border-radius: 1rem;
        width: 100%;
        max-width: 90%;
        margin-left: 5%;

        


        ion-list-header {
            margin-left: -0.5%;

            .resenas-usuario {
                font-size: 1.5rem;
                /* Ajusta el tamaño de la fuente según sea necesario */
                font-weight: bold;
                /* Negrita para el texto */
                color: #ffffff;
                text-align: center;
                background: #e96a24;
                padding: 10px;
                border-radius: 5px;
                font-family: "Rethink Sans", sans-serif;
            }
        }

        ion-item {
            --background: #ebe7e7;
            margin-bottom: 1rem;

            ion-label {
                h2 {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #000000;
                    font-family: "Rethink Sans", sans-serif;
                }

                p {
                    font-size: 1rem;
                    color: #000000;
                    font-family: "Rethink Sans", sans-serif;
                }

                .calificacion {
                    font-size: 0.9rem;
                    color: #e96a24;
                    font-weight: bold;
                    font-family: "Rethink Sans", sans-serif;
                }
            }
        }
    }
    .resena ion-list {
        background: inherit;
        margin: 0;
        padding: 0;
        border-radius: inherit;
    }
}



@media (max-width: 600px) {

    ion-content {

        ion-card {
            max-width: 90%;
            height: auto;
            display: flex;
            justify-items: center;
            margin-left: 5%;

            ion-card-header {
                .foto {

                    img {
                        max-width: 100%;
                    }
                }
            }

            ion-card-content {
                .nomusuario {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 0.8rem;
                    text-align: justify;
                }

                .btn-editar {
                    max-width: 100%;
                    font-size: 1rem;
                    margin-left: 0%;
                }
            }
        }

        .resena {
            margin-left: 5%;

            ion-list-header {
                margin-left: -2%;

                .resenas-usuario {
                    font-size: 1rem;

                }
            }

            ion-item {

                ion-label {
                    h2 {
                        font-size: 1rem;

                    }

                    p {
                        font-size: 0.8rem;
                    }

                    .calificacion {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@media (max-height: 900px) {

    ion-content {

        ion-card {
            max-width: 50%;
            height: auto;
            display: flex;
            justify-items: center;

            ion-card-header {
                .foto {

                    img {
                        max-width: 100%;
                    }
                }
            }

            ion-card-content {
                .nomusuario {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 0.8rem;
                    text-align: justify;
                }

                .btn-editar {
                    max-width: 100%;
                    font-size: 1rem;
                    margin-left: 0%;
                }
            }
        }

        .resena {
            max-width: 90%;

            ion-list-header {
                .resenas-usuario {
                    font-size: 1rem;

                }
            }

            ion-item {

                ion-label {
                    h2 {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }

                    .calificacion {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}