.titulo {
    font-weight: bold; /* Texto en negrita */
    color: #111b21; /* Color del texto */
    font-family: "Rethink Sans", sans-serif; /* Fuente similar a WhatsApp */
    text-align: left; /* Alineación a la izquierda */
    font-size: 2.25rem; /* Tamaño cómodo */
    line-height: 1.5; /* Mejora la separación vertical */
    margin: 16px 16px 0; /* Separación hacia los lados y arriba */
    padding: 8px 0; /* Separación adicional dentro del título */
}


.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;

        ion-title {
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            font-family: Helvetica;
            display: flex;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}
.fondo {
    ion-toolbar {
      --background: #e96a24 !important;
      color: #ffffff;
  
      ion-title {
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        font-family: Helvetica;
        display: flex;
      }
  
      ion-icon {
        color: #ffffff;
      }
    }
  }
  
  ion-content {
    --background: #ebe7e7 !important;
  
    ion-card {
      --background: #ebe7e7 !important;
      border-radius: 2rem;
      margin-top: 10rem;
      width: 100%;
  
      .foto {
        display: flex;
      }
    }
  
    .reseñas {
      margin-top: 2rem;
  
      ion-list {
        background: #ffffff;
        border-radius: 1rem;
        padding: 1rem;
  
        ion-item {
          --background: #f9f9f9;
          border-radius: 0.5rem;
          margin-bottom: 1rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
          ion-label {
            h2 {
              font-size: 1.2rem;
              font-weight: bold;
              color: #333;
            }
  
            p {
              font-size: 1rem;
              color: #666;
              margin: 0.5rem 0;
            }
  
            .calificacion {
              font-size: 0.9rem;
              color: #e96a24;
              font-weight: bold;
              
              
            }
          }
        }
      }
    }
  }
  .resenas-usuario-label {
    font-size: 1.5rem !important; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold !important; /* Negrita para el texto */
    color: #ffffff !important; /* Color del texto */
    text-align: center !important; /* Centra el texto */
    background: #e96a24 !important; /* Fondo transparente */
    padding: 10px !important; /* Espaciado interno */
    border: 0px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, var(--ion-background-color-step-150, rgba(0, 0, 0, 0.13))))) !important; /* Borde */
    border-radius: 5px !important; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important; /* Sombra */
  }
  
  
ion-content {
    --background: #ebe7e7 !important;

    ion-card {
        --background: #ffffff !important;
        border-radius: 2rem;
        margin-top: 10rem;
        width: 100%;
        

        .foto {
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1.5rem;
            }
        }
    }

    .titulo-card {
        color: #000000;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .dato {
        color: #000000;
        font-size: 0.9rem;
        text-align: center;
    }
   
      
    .btn-editar {
        color: #ffffff;
        --background: #e96a24;
        border-radius: 5px;
        font-family: Helvetica;
        margin-top: 16px;
        padding: 12px 16px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
    }
}

@media (min-width: 2560px) {
    ion-content {
    
        ion-card {
            --background: #ffffff !important;
            border-radius: 2rem;
            margin-top: 10rem;
            max-width: 40%;
            margin-left: 50%;
    
            .foto {
                display: flex;
                justify-content: center;
    
                img {
                    max-width: 20%;
                    max-height: 20%;
                    object-fit: cover;

                }
            }
        }
    
        .titulo-card {
            color: #000000;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }
    
        .dato {
            color: #000000;
            font-size: 0.9rem;
            text-align: center;
        }
    
        .btn-editar {
            max-width: 25%;
            margin-left: 37%;
        }
    }

}

@media (min-width: 1920px) {

    ion-content {
    
        ion-card {
            border-radius: 2rem;
            margin-top: 10rem;
            max-width: 50%;
            margin-left: 30rem;
    
            .foto {
                display: flex;
                justify-content: center;
    
                img {
                    max-width: 20%;
                    max-height: 20%;
                    object-fit: cover;

                }
            }
        }
    
        .titulo-card {
            color: #000000;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }
    
        .dato {
            color: #000000;
            font-size: 0.9rem;
            text-align: center;
        }
    
        .btn-editar {
            max-width: 25%;
            margin-left: 37%;
        }
    }
}

@media (max-width: 600px) {

    ion-content {
    
        ion-card {
            border-radius: 2rem;
            margin-top: 10rem;
            max-width: 90%;
            margin-left: 1.5rem;
    
            .foto {
                display: flex;
                justify-content: center;
    
                img {
                    max-width: 50%;
                    max-height: 50%;
                    object-fit: cover;

                }
            }
        }
    
        .titulo-card {
            color: #000000;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }
    
        .dato {
            color: #000000;
            font-size: 0.9rem;
            text-align: center;
        }
    
        .btn-editar {
            max-width: 60%;
            margin-left: 21%;
        }
    }
}


@media (max-height: 900px) {

    ion-content {
    
        ion-card {
            border-radius: 2rem;
            margin-top: 10rem;
            max-width: 80%;
            margin-left: 5.5rem;
    
            .foto {
                display: flex;
                justify-content: center;
    
                img {
                    max-width: 40%;
                    max-height: 40%;
                    object-fit: cover;

                }
            }
        }
    
        .titulo-card {
            color: #000000;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }
    
        .dato {
            color: #000000;
            font-size: 0.9rem;
            text-align: center;
        }
    
        .btn-editar {
            max-width: 30%;
            margin-left: 35%;
        }
    }
}