<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userProfile">

  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>

    <ion-card-header>
      <div class="foto">
        <img *ngIf="userProfile.foto_perfil_base64" [src]="'data:image/jpeg;base64,' + userProfile.foto_perfil_base64"
          alt="Foto de perfil" />
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title class="nomusuario">
        {{ userProfile.nombre_usuario }}
      </ion-card-title>
      <p> <strong>Correo:</strong> {{ userProfile.correo }} </p>
      <p> <strong>Teléfono:</strong> {{ userProfile.telefono }} </p>
      <p> <strong>Ubicación:</strong> {{ userProfile.ubicacion }} </p>

      <!-- Mostrar el promedio de calificación con estrellas -->
      <div *ngIf="promedioCalificacion !== null">
        <div class="estrellas" style="text-align: center;">
          <ion-icon *ngFor="let estrella of estrellas"
            [name]="estrella === 'filled' ? 'star' : (estrella === 'half' ? 'star-half' : 'star-outline')"
            [style.color]="estrella === 'filled' ? '#e96a24' : (estrella === 'half' ? '#e96a24' : 'gray')">
          </ion-icon>
        </div>
      </div>
      <!-- Si no hay valoraciones, mostrar estrellas vacías -->
      <div *ngIf="promedioCalificacion === null" style="text-align: center;">
        <ion-icon *ngFor="let _ of [1,2,3,4,5]" name="star-outline" style="color: gray;"></ion-icon>
      </div>

      <ion-button *ngIf="esMiPerfil()" (click)="editarPerfil()" expand="block" class="btn-editar">
        Editar Perfil
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div class="resena">
    <ion-list>
      <ion-list-header>
        <ion-label class="resenas-usuario">Reseñas del Usuario</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let review of displayedReviews">
        <ion-label>
          <h2>{{ review.titulo }}</h2>
          <p>{{ review.comentario }}</p>
          <p class="calificacion"><strong>Calificación:</strong> {{ review.calificacion }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button *ngIf="reviews.length > 4" (click)="toggleShowMore()" class="btn-editar">
      {{ showMore ? 'Mostrar menos' : 'Mostrar más' }}
    </ion-button>
  </div>
</ion-content>