<ion-app>
  
  <!-- Side Menu -->

   <ion-menu contentId="main-content" *ngIf="isLoggedIn">
    <ion-header>
      <ion-toolbar>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu">
      <ion-list>
        
        <ion-button (click)="goToProfile()">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          Perfil cuenta   
        </ion-button>

        <ion-button routerLink="/wishlist">
          <ion-icon name="star-outline" slot="start"></ion-icon>
          Lista de deseos
        </ion-button>

        <ion-button routerLink="/addbook" *ngIf="userRole === 'admin'">
          <ion-icon name="add-outline" slot="start"></ion-icon>
          Agregar libro
        </ion-button>

        <ion-button (click)="goAddBookuser()" *ngIf="userRole === 'usuario'">
          <ion-icon name="add-outline" slot="start"></ion-icon>
          Agregar libro
        </ion-button>
        

        <ion-button (click)="gochat()" *ngIf="userRole === 'usuario'">
          <ion-icon name="add-outline" slot="start"></ion-icon>
            Chat
        </ion-button>
        <ion-button (click)="goBookOwner()" *ngIf="userRole === 'usuario'">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          Mis Libros
        </ion-button>

        <ion-button (click)="gosoliuser()" *ngIf="userRole === 'usuario'">
          <ion-icon name="book-outline" slot="start"></ion-icon>
         Prestamos
        </ion-button>

        <ion-button routerLink="/listar-libro">
          <ion-icon name="bookmark-outline" slot="start"></ion-icon>
          Lista de libros
        </ion-button>
        
        <ion-button (click)="solicitudesadd()" *ngIf="userRole === 'admin'">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          SOLICITUDES LIBROS
        </ion-button>
        
        <ion-button class="cerrar" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Cerrar Sesión
        </ion-button>
      </ion-list>
    </ion-content>
    <br>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button routerLink="/login" *ngIf="!isLoggedIn" class="login-button">
          <span class="login-text">
            <ion-icon name="person-outline" class="login-icon"></ion-icon>
          </span>
        </ion-button>
      </ion-toolbar>
    </ion-header>

    <ion-content style="--background: #ffffff;"
    > 
      <div id="container">
        <ion-title *ngIf="isLoggedIn" class="welcome-message">
          ¡Hola!, {{ userName }} :)
        </ion-title>
        
        <ion-title *ngIf="isLoggedIn" class="sigue-aportando">Lee, comparte, conecta.</ion-title>

        
        <div class="book-cover">
          <img class="banner-image" src="assets/imagenes/banner-02.jpg" alt="">
        </div>
        <ion-title  class="recomendaciones">Recomendaciones</ion-title>
       <!--  <ion-button routerLink="/listar-libro" class="list-button">
          Ver Más
        </ion-button>-->

        <swiper-container [modules]="swiperModules" [slidesPerView]="3" [loop]="true" navigation pagination>
          <swiper-slide *ngFor="let book of books; let i = index">
            <img *ngIf="book.imagen_libro" [src]="book.imagen_libro" alt="Libro {{ book.titulo }}" />
            <p>{{ book.titulo }}</p>
            <div class="rating">
              <span
                *ngFor="let star of stars; let starIndex = index"
                class="star"
                (click)="rateBook(i, starIndex + 1)"
                [innerHTML]="starIndex < book.selectedRating ? '&#9733;' : '&#9734;'"
              ></span>
            </div>
          </swiper-slide>
        </swiper-container>
        
        



       
        <br>
      </div>
    </ion-content>
  </div>
  
</ion-app>

