ion-app {

  /*para menu desplegable*/
  ion-menu {
    --background-color: #229E88 !important;
    --background: var(--background-color) !important;
    opacity: 95%;

    ion-header {
      --background: var(--background-color);

      ion-toolbar {
        --background: var(--background-color);
      }
    }

    .menu {
      --background: var(--background-color);

      ion-list {
        background: transparent;
        margin-top: 70px;
        padding: 0 10px;
        max-width: 80%;

        ion-button {
          color: #ffffff;
          --background: #229E88;
          width: 100%;
          max-width: 85%;
          /*--border-radius: 20px;*/
          font-size: 16px;
          font-family: Helvetica;
          margin-top: 10%;


          ion-icon {
            color: #000000;
          }
        }

        .cerrar {
          margin-top: 13rem;
          width: 100%;
          max-width: 85%;

          ion-icon {
            color: #ff0000;
          }

        }
      }

    }
  }

  /* main content*/
  .ion-page#main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }




  .ion-page#main-content ion-header {
    --background: #229E88;
    --ion-toolbar-background: #229E88;
    --color: #ffffff;

  }


  .ion-page#main-content ion-toolbar {
    --background: #229E88;
    color: #ffffff;
  }


  .ion-page#main-content ion-button {
    --background: #229E88;
    --color: #ffffff !important;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    max-width: 50%;
    padding: 0;
    left: 80%;
    transform: translateX(80%);


  }

  .ion-page#main-content ion-button ion-icon {
    color: #000000;
    font-weight: bold;
  }

  .ion-page#main-content #container {
    background-color: white;
  }

  .ion-page#main-content #container img {
    margin-bottom: 20px;
    border-radius: 7px;
  }

  .ion-page#main-content ion-title {
    font-size: 25px;
    color: #000000;
    font-family: 'Rethink Sans', sans-serif; 
    font-weight: 600;
    text-align: left;
    margin-bottom: 0px;
    padding-top: 10px; /* En lugar de margin-top */
  }
  .ion-page#main-content .sigue-aportando {
    
    bottom: 20px; /* Distancia desde el fondo */

    font-size: 18px; /* Tamaño de la fuente */
    color: #000000; /* Color del texto */
    font-family: "Rethink Sans", sans-serif; /* Fuente Roboto */
    font-weight: 100; /* Peso de fuente thin */
    text-align: left; /* Alineación a la izquierda */
    margin: 0; /* Eliminar margen si es necesario */
}
  .ion-page#main-content p {
    font-size: 12px;
    color: #000000;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10px;
  }
  swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center; // Centrar contenido si es necesario
  justify-content: center; // Centrar contenido verticalmente si es necesario
  height: 300px; // Ajusta según lo que necesites

  .rating {
    display: flex;
    align-items: center; // Centra verticalmente las estrellas
  }
  
  .star {
    font-size: 24px; // Tamaño de las estrellas
    color: gold; // Color de las estrellas llenas
    margin-right: 2px; // Espaciado entre estrellas
    
  }
  
}


 
  .ion-page#main-content img {
    max-width: 60%;
    height: auto;
    margin: 0 auto;
    border-radius: 7px;
    display: block;
  }

  .ion-page#main-content ion-menu-button {
    --color: white;
    --background: transparent;
  }
}