<ion-app>
  
  <!-- Side Menu -->
  <ion-menu contentId="main-content" *ngIf="isLoggedIn">
    <ion-header>
      <ion-toolbar>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu">
      <ion-list>
        <ion-button (click)="goToProfile()">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          Mi perfil
        </ion-button>

        <ion-button routerLink="/wishlist">
          <ion-icon name="star-outline" slot="start"></ion-icon>
          Wishlist
        </ion-button>

        <ion-button routerLink="/addbook" *ngIf="userRole === 'admin'">
          <ion-icon name="add-outline" slot="start"></ion-icon>
          Agregar libro
        </ion-button>

        <ion-button (click)="goAddBookuser()" *ngIf="userRole === 'usuario'">
          <ion-icon name="add-outline" slot="start"></ion-icon>
          Agregar libro
        </ion-button>
        

        <ion-button (click)="gochat()" *ngIf="userRole === 'usuario'">
          <ion-icon name="add-outline" slot="start"></ion-icon>
            Chat
        </ion-button>
        <ion-button (click)="goBookOwner()" *ngIf="userRole === 'usuario'">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          Mis Libros
        </ion-button>

        <ion-button (click)="gosoliuser()" *ngIf="userRole === 'usuario'">
          <ion-icon name="book-outline" slot="start"></ion-icon>
         Prestamos
        </ion-button>

        <ion-button routerLink="/listar-libro">
          <ion-icon name="bookmark-outline" slot="start"></ion-icon>
          Lista de libros
        </ion-button>
        <ion-button (click)="solicitudesadd()" *ngIf="userRole === 'admin'">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          SOLICITUDES LIBROS
        </ion-button>
        
        <ion-button class="cerrar" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Cerrar Sesión
        </ion-button>
      </ion-list>
    </ion-content>
    <br>
  </ion-menu>

  <!-- Main Content -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button routerLink="/login" *ngIf="!isLoggedIn" class="login-button" > 
          <span class="login-text">
            <ion-icon name="person-outline" class="login-icon"></ion-icon>
          </span>
        </ion-button>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div id="container">
        <img src="assets/imagenes/logobookshare.png" alt="Logo" class="logo-image">

        <ion-title><strong>BookShare</strong></ion-title>

        <p class="description">Bookshare" es una plataforma en línea
          sin fines <br> de lucro destinada a fomentar la lectura y crear <br>una comunidad de lectores basada en la
          confianza.</p>

        <img src="assets/imagenes/personaleyendo.png" alt="Personal leyendo" class="image">

        <p class="description">Esta plataforma permitirá a
          los usuarios registrar, <br> intercambiar y prestar libros entre sí, promoviendo <br> así el acceso a la
          literatura de manera sostenible <br>y accesible.</p>

        <img src="assets/imagenes/intercambiandolibro.png" alt="Intercambiando libro" class="image">

        <br>
      </div>
    </ion-content>
  </div>
</ion-app>
