.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        .titulo {
            font-weight: bold;
            color: #ffffff;
            font-family: Helvetica;
            font-size: 1.5rem;
            text-align: center;
            width: 100%;
            max-width: 95%;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {

    --background: #ebe7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    ion-item {
        --background: transparent !important;
        max-width: 70%;
        width: 100%;
        --ion-item-border-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;


        ion-thumbnail {

            .imagen {
                border-radius: 8%;
            }
        }

        ion-label {

            .titulo {
                font-size: 14px;
                color: #000000;
                font-family: Helvetica;
                font-weight: bold;
            }

            .prestamo,
            .intercambio {
                --background: #e96a24;
                font-size: 0.8rem;
                color: #ffffff;
                font-family: Helvetica;
            }

            .eliminar {
                --background: #c92929;
                font-size: 0.8rem;
                color: #ffffff;
                font-family: Helvetica;
            }
        }
    }
}

@media (max-width: 2560px) {
    ion-content {

        --background: #ebe7e7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        ion-item {
            margin-left: 55rem;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-thumbnail {
                .imagen {
                    border-radius: 8%;
                }
            }

            ion-label {

                .titulo {
                    font-size: 14px;
                    color: #000000;
                    font-family: Helvetica;
                    font-weight: bold;
                }

                .prestamo,
                .intercambio {
                    --background: #e96a24;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }

                .eliminar {
                    --background: #c92929;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }
            }
        }
    }
}


@media (max-width: 1920px) {

    ion-content {

        --background: #ebe7e7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        ion-item {
            margin-left: 35rem;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-thumbnail {
                .imagen {
                    border-radius: 8%;
                }
            }

            ion-label {

                .titulo {
                    font-size: 14px;
                    color: #000000;
                    font-family: Helvetica;
                    font-weight: bold;
                }

                .prestamo,
                .intercambio {
                    --background: #e96a24;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }

                .eliminar {
                    --background: #c92929;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    ion-content {

        --background: #ebe7e7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        ion-item {
            margin-left: 4.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-thumbnail {
                .imagen {
                    border-radius: 8%;
                }
            }

            ion-label {

                .titulo {
                    font-size: 14px;
                    color: #000000;
                    font-family: Helvetica;
                    font-weight: bold;
                }

                .prestamo,
                .intercambio {
                    --background: #e96a24;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }

                .eliminar {
                    --background: #c92929;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }
            }
        }
    }
}

@media (max-height: 900px) {
    ion-content {

        --background: #ebe7e7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        ion-item {
            margin-left: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-thumbnail {
                .imagen {
                    border-radius: 8%;
                }
            }

            ion-label {

                .titulo {
                    font-size: 14px;
                    color: #000000;
                    font-family: Helvetica;
                    font-weight: bold;
                }

                .prestamo,
                .intercambio {
                    --background: #e96a24;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }

                .eliminar {
                    --background: #c92929;
                    font-size: 0.8rem;
                    color: #ffffff;
                    font-family: Helvetica;
                }
            }
        }
    }
}
