.fondo {
  ion-toolbar {
      --background: #e96a24 !important;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;

      .titulo {
          font-weight: bold;
          color: #ffffff;
          font-family: Helvetica;
          font-size: 1.5rem;
          text-align: left;
          width: 100%;
          max-width: 95%;
      }

      ion-icon {
          color: #ffffff;
      }
  }
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  gap: 8px;
  height: 100vh; /* Altura completa de la ventana */
  --background: #ebe7e7;
  overflow-y: hidden; /* Evitar que el contenido se desplace en la altura completa */

  .mensajes-container {
    flex-grow: 1; /* Permitir que el contenedor de mensajes use el espacio disponible */
    overflow-y: auto; /* Permitir el desplazamiento en el contenedor de mensajes */
    padding-bottom: 60px; /* Espacio para no cubrir la barra de entrada */
  }



  .mensaje-remitente {
    background-color: #e96a24;
    border-radius: 10px;
    width: 80%;
    max-width: auto;
    max-width: 65%;
    font-size: 1rem;
    margin-inline-end: 3%;
    margin-inline-start: 3%;
    padding: 1%;
    font-family: Helvetica;
    color: #ffffff;
    margin-bottom: 0.7rem;
    margin-left: 27%;

    p {
      text-align: end;
      margin-inline-end: 3%;
      margin-inline-start: 3%;
      font-size: 1rem;
      ;
    }

    strong {
      font-weight: bold;
      color: #ffffff;
      font-size: 1rem;
      font-family: Arial, sans-serif;
    }

  }

  .mensaje-receptor {
    background-color: #974316;
    border-radius: 10px;
    width: 80%;
    max-width: auto;
    max-width: 65%;
    font-size: 1rem;
    margin-inline-end: 3%;
    margin-inline-start: 3%;
    padding: 1%;
    font-family: Helvetica;
    color: #ffffff;
    margin-bottom: 0.7rem;
    margin-left: 7%;

    p {
      text-align: start;
      margin-inline-end: 3%;
      margin-inline-start: 3%;
      font-size: 1rem;
    }
  }

  .enviar-mensaje {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 10px;
    border-radius: 1rem;
    background-color: #353333;
    /* Color de fondo para diferenciar del resto */
    margin: 0;
    width: 100%;


    ion-input {
      flex-grow: 1;
      color: #ffffff;
      font-size: 1rem;
      font-family: Helvetica;
      padding: 10px;
      box-shadow: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 20px;
      /* Espacio para escribir más cómodamente */
      background-color: #353333; /* Color de fondo para diferenciar del resto */
      border-color: #f0dfc0;
    }

    ion-button {
      --background: #e96a24;
      font-family: Helvetica;
      font-weight: bold;
      --border-radius: 4rem;
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: 4rem;

      ion-icon {
        font-size: 2rem;
        color: #ffffff;
        align-items: center;
      }
    }
  }
}