<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register()" #registroForm="ngForm">
    <ion-item>
      <ion-label position="stacked">Nombre de usuario</ion-label>
      <ion-input [(ngModel)]="nombre_usuario" name="nombre_usuario" required pattern="^[a-zA-Z]+$"></ion-input>
    </ion-item>
    <div class="aviso"
      *ngIf="registroForm.controls['nombre_usuario']?.invalid && (registroForm.controls['nombre_usuario']?.touched || registroForm.submitted)">
      <ion-label color="danger">
        El nombre de usuario es obligatorio y debe contener solo letras.
      </ion-label>

    </div>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input [(ngModel)]="correo" name="correo" type="email" required
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"></ion-input>
    </ion-item>
    <div class=aviso
      *ngIf="registroForm.controls['correo']?.invalid && (registroForm.controls['correo']?.touched || registroForm.submitted)">
      <ion-label color="danger">El correo es obligatorio y debe ser válido (ejemplo:
        ejemplo&#64;dominio.com).</ion-label>
    </div>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena" name="contrasena" type="password" required minlength="6"></ion-input>
    </ion-item>
    <div class="aviso"
      *ngIf="registroForm.controls['contrasena']?.invalid && (registroForm.controls['contrasena']?.touched || registroForm.submitted)">
      <ion-label color="danger">
        La contraseña es obligatoria y debe tener al menos 6 caracteres.</ion-label>
    </div>

    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input [(ngModel)]="telefono" name="telefono" required pattern="^[0-9]*$"></ion-input>
    </ion-item>
    <div class="aviso"
      *ngIf="registroForm.controls['telefono']?.invalid && (registroForm.controls['telefono']?.touched || registroForm.submitted)">
      <ion-label color="danger">El teléfono es obligatorio.</ion-label>
    </div>

    <ion-item>
      <ion-label position="stacked">Ubicación</ion-label>
      <ion-select class="opcion" [(ngModel)]="ubicacion" name="ubicacion" required label="Seleccione opción">
        <ion-select-option value="Concepcion">Concepción</ion-select-option>
        <ion-select-option value="Talcahuano">Talcahuano</ion-select-option>
        <ion-select-option value="Chiguayante">Chiguayante</ion-select-option>
        <ion-select-option value="Hualpen">Hualpen</ion-select-option>
        <ion-select-option value="Hualqui">Hualqui</ion-select-option>
        <ion-select-option value="San Pedro de la Paz">San Pedro de la Paz</ion-select-option>
        <ion-select-option value="Coronel">Coronel</ion-select-option>
      </ion-select>

    </ion-item>
    <div class="aviso"
      *ngIf="registroForm.controls['ubicacion']?.invalid && (registroForm.controls['ubicacion']?.touched || registroForm.submitted)">
      <ion-label color="danger">La ubicación es obligatoria.</ion-label>
    </div>

    <!-- Foto de perfil -->
    <ion-item>
      <ion-label position="stacked">Foto de perfil</ion-label>
      <input class="foto" type="file" (change)="onImageSelected($event)" accept="image/*" required>
    </ion-item>
    <div class="aviso"
      *ngIf="!foto_perfil && (registroForm.submitted || registroForm.controls['foto_perfil']?.touched)">
      <ion-label color="danger">La foto de perfil es obligatoria.</ion-label>
    </div>

    <ion-item class="photo" *ngIf="foto_perfil">
      <img class="imagen" [src]="foto_perfil" alt="Vista previa" />
    </ion-item>

    <ion-item *ngIf="errorMessage">
      <ion-label color="danger">{{ errorMessage }}</ion-label>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="registroForm.invalid || !foto_perfil">Registrar</ion-button>

    <div style="text-align: center;">
      <a class="aqui" routerLink="/login" style="color: #229E88;">Si tienes cuenta, pulsa <strong>Aquí</strong></a>
    </div>
  </form>
  <br>
</ion-content>