.fondo {
    ion-toolbar {
        --background: #229E88 !important;
        color: #ffffff;

        ion-title {
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            font-family: Helvetica;
            left: 50%;
            transform: translateX(-10%);
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #ffffff;

    ion-item {
        --background: transparent;
        width: 90%;

        ion-label {
            color: #229E88;
            font-size: 25px;
            font-family: Helvetica;
        }

        .descripcion {
            color: #000000;
            font-size: 12px;
            font-family: Helvetica;
            max-height: 100px;
            resize: none;
            border: 1px solid #000000;
            border-radius: 8px; 
            padding: 10px;
            margin-top: 15px;
        }

        /* .opcion {
            color: #000000;
            font-size: 15px;
            font-family: Helvetica;
        }*/

        ion-input {
            color: #000000;
            font-size: 15px;
            font-family: Helvetica;
        }

        .foto {
            margin-block: 15px;
            color: #000000;
            font-size: 14px;
            font-family: Helvetica;
        }
    }

    .libro {
        max-width: 80%; 
        max-height: 200px; 
        margin-top: 10px; 
        left: 30%; 
        transform: translateX(75%);
    }

    ion-button {
        color: #ffffff;
        --background: #229E88;
        border-radius: 15px;
        font-family: Helvetica;
        margin-top: 16px;
        padding: 12px 16px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
    }
}
