.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        .titulo {
            font-weight: bold;
            color: #ffffff;
            font-family: "Rethink Sans", sans-serif;
            font-size: 1.5rem;
            text-align: center;
            width: 100%;
            max-width: 95%;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #ebe7e7;

    ion-list {
        background: #4d4d4d;
        width: 90%;
        margin-top: 1%;
        border: 3px solid #e96a24;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;

        ion-item {
            --background: #4d4d4dbe;
            width: 95%;
            --ion-item-border-color: #e96a24;
            margin-top: 5px;

            ion-label {
                h2 {
                    font-family: "Rethink Sans", sans-serif;
                    color: #ffffff;
                    font-size: 1rem;
                }

                p {
                    font-family: "Rethink Sans", sans-serif;
                    color: #ffffff;
                    font-size: 1rem;
                }
            }

            ion-button {
                --background: #e96a24;

                ion-icon {
                    color: #ffffff;
                    font-size: 1rem;
                }
            }
        }
    }

    p {
        font-family: "Rethink Sans", sans-serif;
        color: #ffffff;
        font-size: 1rem;
    }
}
