.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        .titulo {
            font-weight: bold;
            color: #ffffff;
            font-family: Helvetica;
            font-size: 1.5rem;
            text-align: center;
            width: 100%;
            max-width: 95%;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #ebe7e7;
    display: flex;
    justify-content: center;
    align-items: center;

    .listargrid {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;

        ion-row {

            ion-col {

                ion-card {
                    --background: #ffffff;
                    width: 100%;
                    max-width: 70%;
                    border-radius: 1rem;

                    ion-card-header {
                        ion-card-title {
                            color: #000000;
                            font-size: 1rem;
                            font-family: "Rethink Sans", sans-serif;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        ion-card-subtitle {
                            color: #000000;
                            font-size: 0.8rem;
                            font-family: "Rethink Sans", sans-serif;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    ion-card-content {

                        .libro {
                            margin-bottom: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .imagen {
                                object-fit: cover;
                                border-radius: 1rem;
                            }
                        }

                        .noimagen {
                            color: #000000;
                            font-size: 0.8rem;
                            font-family: "Rethink Sans", sans-serif;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .isbn {
                            color: #000000;
                            font-size: 0.8rem;
                            font-family: "Rethink Sans", sans-serif;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        ion-buttons {

                            .ver {
                                color: #ffffff;
                                --background: #e96a24;
                                border-radius: 15px;
                                font-family: "Rethink Sans", sans-serif;
                                margin-top: 16px;
                                width: 100%;
                                max-width: 25%;
                                font-size: 1rem;
                                font-weight: bold;
                                display: block;
                                justify-content: center;
                                align-items: center;

                                ion-icon {
                                    font-size: 1.5rem;
                                    color: #ffffff;
                                }
                            }

                            .eliminar {
                                color: #ffffff;
                                --background: #e96a24;
                                border-radius: 15px;
                                font-family: "Rethink Sans", sans-serif;
                                margin-top: 16px;
                                width: 100%;
                                max-width: 25%;
                                font-weight: bold;
                                display: block;
                                font-size: 1rem;
                                justify-content: center;
                                align-items: center;

                                ion-icon {
                                    font-size: 1.5rem;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    ion-text {
        color: #000000;
        font-size: 1rem;
        font-family: "Rethink Sans", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}

@media (max-width: 600px) {
    ion-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .listargrid {
            display: block;
            justify-content: center;
            align-items: center;
            margin-left: 2rem;

            ion-row {
                display: block;
                justify-content: center;
                align-items: center;
                margin-left: 3rem;

                ion-col {
                    margin-left: 2.5rem;

                    ion-card {
                        max-width: 70%;
                        height: auto;
                        border-radius: 1rem;

                        ion-card-header {
                            ion-card-title {
                                font-size: 1rem;
                                font-weight: bold;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            ion-card-subtitle {
                                font-size: 0.8rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        ion-card-content {
                            .libro {
                                margin-bottom: 1rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .imagen {
                                    object-fit: cover;
                                    border-radius: 1rem;
                                }
                            }

                            .noimagen {
                                color: #000000;
                                font-size: 0.8rem;
                                font-family: "Rethink Sans", sans-serif;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .isbn {
                                font-size: 0.8rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            ion-buttons {
                                margin-left: 4rem;

                                .ver {
                                    margin-top: 16px;
                                    max-width: 25%;
                                    font-size: 16px;
                                    font-weight: bold;
                                    display: block;
                                    justify-content: center;
                                    align-items: center;

                                    ion-icon {
                                        font-size: 1.5rem;
                                        color: #ffffff;
                                    }
                                }

                                .eliminar {
                                    margin-top: 16px;
                                    max-width: 25%;
                                    font-weight: bold;
                                    display: block;
                                    justify-content: center;
                                    align-items: center;

                                    ion-icon {
                                        font-size: 1.5rem;
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-height: 900px) {
    ion-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .listargrid {
            display: block;
            justify-content: center;
            align-items: center;
            margin-left: 2rem;

            ion-row {
                display: block;
                justify-content: center;
                align-items: center;
                margin-left: 3rem;

                ion-col {
                    margin-left: 2.5rem;

                    ion-card {
                        max-width: 40%;
                        height: auto;
                        border-radius: 1rem;

                        ion-card-header {
                            ion-card-title {
                                font-size: 1rem;
                                font-weight: bold;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            ion-card-subtitle {
                                font-size: 0.8rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        ion-card-content {

                            .libro {
                                margin-bottom: 16px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .imagen {
                                    object-fit: cover;
                                    border-radius: 1rem;
                                }
                            }

                            .noimagen {
                                font-size: 0.8rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .isbn {
                                color: #000000;
                                font-size: 0.8rem;
                                font-family: "Rethink Sans", sans-serif;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            ion-buttons {
                                margin-left: 4.5rem;

                                .ver {
                                    color: #ffffff;
                                    --background: #e96a24;
                                    border-radius: 15px;
                                    font-family: "Rethink Sans", sans-serif;
                                    margin-top: 16px;
                                    width: 100%;
                                    max-width: 25%;
                                    font-size: 16px;
                                    font-weight: bold;
                                    display: block;
                                    justify-content: center;
                                    align-items: center;

                                    ion-icon {
                                        font-size: 1.5rem;
                                        color: #ffffff;
                                    }
                                }

                                .eliminar {
                                    color: #ffffff;
                                    --background: #e96a24;
                                    border-radius: 15px;
                                    font-family: "Rethink Sans", sans-serif;
                                    margin-top: 16px;
                                    width: 100%;
                                    max-width: 25%;
                                    font-weight: bold;
                                    display: block;
                                    justify-content: center;
                                    align-items: center;

                                    ion-icon {
                                        font-size: 1.5rem;
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}