<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="titulo">Solicitud de libro</ion-title>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <form (ngSubmit)="onSubmit()" #libroForm="ngForm">

    <!-- Campo para ISBN -->
    <ion-item>
      <div class="label-button-container">
        <ion-label position="stacked">ISBN</ion-label>
        <ion-button class="ejemplo" id="click-trigger">ejemplo</ion-button>
        <ion-popover trigger="click-trigger" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-img src="assets/imagenes/isbn-ejemplo.png" alt=""></ion-img>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
      <ion-input [(ngModel)]="isbn" name="isbn" placeholder="Ejemplo: 9123456789123" required></ion-input>
    </ion-item>
    <div class="aviso"
      *ngIf="libroForm.controls['isbn']?.invalid && (libroForm.controls['isbn']?.touched || libroForm.submitted)">
      <ion-label color="danger">El ISBN es obligatorio.</ion-label>
    </div>

    <!-- Campo para Título -->
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input [(ngModel)]="titulo" name="titulo" placeholder="Ejemplo: El principito" required></ion-input>
    </ion-item>
    <div class="aviso"
      *ngIf="libroForm.controls['titulo']?.invalid && (libroForm.controls['titulo']?.touched || libroForm.submitted)">
      <ion-label color="danger">El título es obligatorio.</ion-label>
    </div>

    <!-- Campo para Autor -->
    <ion-item>
      <ion-label position="stacked">Autor</ion-label>
      <ion-input [(ngModel)]="autor" name="autor" placeholder="Ejemplo: Pablo Neruda" required></ion-input>
    </ion-item>
    <div class="aviso"
      *ngIf="libroForm.controls['autor']?.invalid && (libroForm.controls['autor']?.touched || libroForm.submitted)">
      <ion-label color="danger">El autor es obligatorio.</ion-label>
    </div>

    <!-- Campo para Descripción -->
    <ion-item style="--ion-item-border-color: transparent;">
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea class="descripcion" [(ngModel)]="descripcion" name="descripcion" 
      placeholder="Ejemplo: En un mundo donde los sueños y la realidad se entrelazan, una joven ..."required></ion-textarea>
    </ion-item>
    <div class="aviso"
      *ngIf="libroForm.controls['descripcion']?.invalid && (libroForm.controls['descripcion']?.touched || libroForm.submitted)">
      <ion-label color="danger">La descripción es obligatoria.</ion-label>
    </div>

    <!-- Campo para Género -->
    <ion-item>
      <ion-label position="stacked">Género</ion-label>
      <ion-select class="opcion" placeholder="Seleccione una opción" [(ngModel)]="genero" name="genero" required>
        <ion-select-option *ngFor="let genero of generos" [value]="genero.nombre">
          {{ genero.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="aviso"
      *ngIf="libroForm.controls['genero']?.invalid && (libroForm.controls['genero']?.touched || libroForm.submitted)">
      <ion-label color="danger">El género es obligatorio.</ion-label>
    </div>

    <!-- Campo para Imagen del Libro -->
    <ion-item style="--ion-item-border-color: transparent;">
      <ion-label position="stacked">Imagen del Libro</ion-label>
      <input class="foto" type="file" (change)="onFileSelected($event)" accept="image/*" required />
    </ion-item>
    <div class="aviso" *ngIf="!imagen_libro && (libroForm.controls['imagen_libro']?.touched || libroForm.submitted)">
      <ion-label color="danger">La imagen del libro es obligatoria.</ion-label>
    </div>

    <div *ngIf="imagen_libro">
      <img class="libro" [src]="imagen_libro" alt="Previsualización" />
    </div>

    <ion-button expand="full" type="submit" [disabled]="libroForm.invalid || !imagen_libro">Agregar Libro</ion-button>
  </form>
</ion-content>
<ion-toast [isOpen]="toastMessage.isOpen" [message]="toastMessage.message" [duration]="2000"
  (didDismiss)="toastMessage.isOpen = false" [color]="toastMessage.color">
</ion-toast>