.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;



        ion-icon {
            color: #ffffff;
        }
    }
}



ion-content {
    --background: #ebe7e7;
    display: flex;
    justify-content: center;
    align-items: center;

    .titulo {
        font-weight: bold;
        color: #272727;
        font-family: "Rethink Sans", sans-serif;
        font-size: 2rem;
        text-align: start;
        width: 100%;
        max-width: 95%;
        margin-top: 0.5rem;
    }

    ion-searchbar {
        --background: #e96a24;
        --border-radius: 15px;
        --placeholder-color: #ffffff;
        --color: #ffffff;
        width: 100%;
        max-width: 80%;
        font-family: Helvetica, sans-serif;
        font-size: 1rem;
        margin: 0 auto;
        display: block;
    }

    ion-item {
        --background: transparent;
        width: 100%;
        max-width: 80%;
        margin-left: 10%;
        display: flex;
        padding: 5px;
        box-sizing: border-box;
        --border-radius: 1rem;
        --ion-item-border-color: transparent;

        ion-label {
            color: #000000;
            font-size: 1rem;
            font-family: Helvetica, sans-serif;
        }

        .opcion {
            color: #000000;
            font-size: 15px;
            font-family: Helvetica, sans-serif;
        }
    }

    .listargrid {
        display: block;
        justify-content: center;
        align-items: center;

        ion-row {
            display: block;
            justify-content: center;
            align-items: center;
            margin-left: 8%;

            ion-col {
                margin-left: 4%;

                ion-card {
                    --background: #ffffff;
                    width: 100%;
                    max-width: 20rem;
                    height: 100%;
                    border-radius: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    ion-card-header {
                        .libro {
                            margin-bottom: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .imagen {
                                object-fit: cover;
                                border-radius: 1rem;
                                width: 100%;
                                max-width: 8rem;
                                height: 100%;
                                max-height: 12rem;
                                margin-top: 0.5rem;
                            }
                        }
                    }

                    ion-card-content {
                        .titulo {
                            color: #000000;
                            font-size: 1rem;
                            font-family: "Rethink Sans", sans-serif;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .autor {
                            color: #000000;
                            font-size: 0.8rem;
                            font-family: "Rethink Sans", sans-serif;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        p {
                            color: #000000;
                            font-size: 0.8rem;
                            font-family: "Rethink Sans", sans-serif;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .vista {
                            color: #ffffff;
                            --background: #e96a24;
                            border-radius: 0.8rem;
                            font-family: "Rethink Sans", sans-serif;
                            margin-top: 1rem;
                            width: 100%;
                            max-width: 5rem;
                            font-size: 0.8rem;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 25%;
                        }

                        .agregar,
                        .favoritos,
                        .ver {
                            color: #e96a24;
                            --background: transparent;
                            border-radius: 15px;
                            font-family: "Rethink Sans", sans-serif;
                            margin-top: 0.5rem;
                            width: 100%;
                            max-width: 2.5rem;
                            font-size: 16px;
                            font-weight: bold;

                            ion-icon {
                                font-size: 1.8rem;
                                color: #e96a24;
                            }
                        }

                        /*botones admini*/
                        .modificar,
                        .veradmin {
                            color: #e96a24;
                            --background: transparent;
                            border-radius: 15px;
                            font-family: "Rethink Sans", sans-serif;
                            margin-top: 0.5rem;
                            width: 100%;
                            max-width: 2.5rem;
                            font-size: 16px;

                            ion-icon {
                                font-size: 1.8rem;
                                color: #e96a24;
                            }
                        }


                    }
                }
            }
        }
    }
}



@media (max-width: 600px) {
    ion-content {
        .titulo {
            font-size: 2rem;
            max-width: 95%;
        }
        ion-searchbar {
            max-width: 80%;
            font-size: 1rem;
        }
        ion-item {
            max-width: 80%;
            ion-label {
                font-size: 1rem;
            }
            .opcion {
                font-size: 15px;
            }
        }
        .listargrid {
            ion-row {
                ion-col {
                    ion-card {
                        ion-card-header {
                            .libro {
                                .imagen {
                                    max-width: 8rem;
                                    max-height: 12rem;
                                }
                            }
                        }
                        ion-card-content {
                            .titulo {
                                font-size: 1rem;
                            }
                            .autor {
                                font-size: 0.8rem;
                            }
                            p {
                                font-size: 0.8rem;
                            }
                            .vista {
                                max-width: 5rem;
                                font-size: 0.8rem;
                            }
                            .agregar,
                            .favoritos,
                            .ver {
                                max-width: 2.5rem;
                                font-size: 16px;
                                ion-icon {
                                    font-size: 1.8rem;
                                }
                            }
                            /*botones admini*/
                            .modificar,
                            .veradmin {
                                max-width: 2.5rem;
                                font-size: 16px;
                                ion-icon {
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-height: 900px) {}