<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Lista de libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar..." showCancelButton="true" cancelButtonText="Cancelar" class="search-bar"
    inputmode="search" (ionInput)="buscarLibros($event)">
  </ion-searchbar>


  <ion-grid>
    <ion-row>
      <ion-col size="8" size-md="3" size-lg="2" *ngFor="let libro of libros">
        <ion-card>
          <ion-card-header>
            <div class="libro">
              <img class="imagen" *ngIf="libro.imagen_libro_base64"
                [src]="'data:image/jpeg;base64,' + libro.imagen_libro_base64" alt="Imagen del libro" />
            </div>
          </ion-card-header>

          <ion-card-content>

            <ion-card-title class="titulo">
              {{ libro.titulo }}
            </ion-card-title>

            <ion-card-subtitle class="autor">
              <strong>Autor:</strong> {{ libro.autor }}
            </ion-card-subtitle>

            <p class="genero">
              <strong>Género:</strong> {{ libro.genero }}
            </p>

            <p class="isbn">ISBN: {{ libro.isbn }}</p>


            <!-- <p class="descripcion">
              {{ libro.descripcion }}
            </p> -->

            <ion-button class="vista" expand="block" [routerLink]="['/vista-libro', libro.isbn]"> Detalle</ion-button>



            <ion-buttons>
              <ion-button class="agregar" expand="block" *ngIf="rol === 'usuario'"
              (click)="agregarLibroABiblioteca(libro)">
              <ion-icon name="add-outline"></ion-icon><!--Agregar libro-->
            </ion-button>

            <ion-button class="modificar" expand="block" *ngIf="rol === 'admin'">
              <ion-icon name="pencil-outline"></ion-icon><!--modificar libro-->
            </ion-button>

            <ion-button class="ver" expand="block" (click)="irAPersonasConLibro(libro.isbn)">
              <ion-icon name="eye-outline"></ion-icon><!--ver personas con este libro -->
            </ion-button>
            </ion-buttons>




          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>