.fondo {
    ion-toolbar {
        --background: #229E88 !important;
        color: #ffffff;

        ion-title {
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            font-family: Helvetica;
            left: 50%;
            transform: translateX(-8%);
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {

    --background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;


    ion-searchbar {
        --background: #229E88;
        --border-radius: 15px;
        --placeholder-color: #ffffff;
        --color: #ffffff;
        width: 100%;
        max-width: 80%;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        margin: 0 auto;
        display: block;
    }

    ion-grid {

        ion-col {

            ion-card {
                --background: #ffffff;
                width: 100%;
                max-width: 70%;
                height: auto;
                border-radius: 5%;

                ion-card-header {

                    .libro {
                        margin-bottom: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .imagen {
                            object-fit: cover;

                        }
                    }
                }

                ion-card-content {

                    .titulo {
                        color: #000000;
                        font-size: 10px;
                        font-family: Helvetica;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .autor {
                        color: #000000;
                        font-size: 10px;
                        font-family: Helvetica;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    p {
                        color: #000000;
                        font-size: 10px;
                        font-family: Helvetica;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .vista {
                        color: #ffffff;
                        --background: #229E88;
                        border-radius: 15px;
                        font-family: Helvetica;
                        margin-top: 16px;
                        width: 100%;
                        max-width: 40%;
                        font-size: 12px;
                        font-weight: bold;
                        display: block;
                        justify-content: center;
                        align-items: center;
                        margin-left: 25%;
                    }

                    ion-buttons {

                        .agregar {
                            color: #ffffff;
                            --background: #229E88;
                            border-radius: 15px;
                            font-family: Helvetica;
                            margin-top: 16px;
                            width: 100%;
                            max-width: 25%;
                            font-size: 16px;
                            font-weight: bold;
                            display: block;
                            justify-content: center;
                            align-items: center;
                            margin-left: 25%;



                            ion-icon {
                                font-size: 20px;
                                color: #ffffff;
                            }
                        }

                        .modificar {
                            color: #ffffff;
                            --background: #229E88;
                            border-radius: 15px;
                            font-family: Helvetica;
                            margin-top: 16px;
                            width: 100%;
                            max-width: 25%;
                            font-size: 16px;
                            font-weight: bold;
                            margin-left: 22%;

                            ion-icon {
                                font-size: 20px;
                                color: #ffffff;
                            }
                        }

                        .ver {
                            color: #ffffff;
                            --background: #229E88;
                            border-radius: 15px;
                            font-family: Helvetica;
                            margin-top: 16px;
                            width: 100%;
                            max-width: 25%;
                            font-size: 16px;
                            font-weight: bold;
                            display: block;
                            justify-content: center;
                            align-items: center;
                            margin-left: 5%;

                            ion-icon {
                                font-size: 20px;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
}