<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="titulo">Lista de libros</ion-title>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar placeholder="Buscar..." class="search-bar" inputmode="search" (ionInput)="buscarLibros($event)">
  </ion-searchbar>

  <ion-item>
    <ion-label position="stacked">Género</ion-label>
    <ion-select class="opcion" placeholder="Seleccione una opción" [(ngModel)]="genero" name="genero" required
      (ionChange)="filtrarPorGenero()">
      <ion-select-option value="">Todos</ion-select-option>
      <ion-select-option *ngFor="let genero of generos" [value]="genero">{{ genero }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Vista para el Admin -->
  <ion-grid class="listargrid">
    <ion-row>
      <ion-col size="6" size-sm="6" size-md="3" size-lg="3" *ngFor="let libro of librosFiltrados">
        <ion-card (click)="goToBookDetail(libro.isbn)">
          <ion-card-header>
            <div class="libro">
              <img class="imagen" *ngIf="libro.imagen_libro_base64"
                [src]="'data:image/jpeg;base64,' + libro.imagen_libro_base64" alt="Imagen del libro"/>
            </div>
          </ion-card-header>

          <ion-card-content>
            <ion-card-title class="titulo"> {{ libro.titulo }} </ion-card-title>

            <p><strong>Autor:</strong> {{ libro.autor }}</p>

            <p><strong>Género:</strong> {{ libro.genero }}</p>
            <p>ISBN: {{ libro.isbn }}</p>

            <!-- Botones-->
            <ion-button class="vista" expand="block" [routerLink]="['/vista-libro', libro.isbn]">
              Detalle</ion-button>

            <ion-buttons style="align-items: center; display: flex; justify-content: center;" *ngIf="rol === 'usuario'">
              <ion-button class="agregar" expand="block"
                (click)="agregarLibroABiblioteca(libro); $event.stopPropagation()">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>

              <ion-button class="favoritos" expand="block" (click)="agregarAFavoritos(libro); $event.stopPropagation()">
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>

              <ion-button class="ver" expand="block"
                (click)="irAPersonasConLibro(libro.isbn); $event.stopPropagation()">
                <ion-icon name="eye-outline"></ion-icon><!--ver personas con este libro -->
              </ion-button>
            </ion-buttons>

            <ion-buttons style="align-items: center; display: flex; justify-content: center;" *ngIf="rol === 'admin'">
              <ion-button class="modificar" routerLink="/modificar-libro" expand="block"
                (click)="$event.stopPropagation()">
                <ion-icon name="pencil-outline"></ion-icon><!--modificar libro-->
              </ion-button>

              <ion-button class="veradmin" expand="block"
                (click)="irAPersonasConLibro(libro.isbn); $event.stopPropagation()">
                <ion-icon name="eye-outline"></ion-icon><!--ver personas con este libro -->
              </ion-button>
            </ion-buttons>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>