<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Lista de libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let libro of libros" lines="none">
    <ion-card>
      <ion-card-header>
        <div class="foto">
          <img class="imagen" *ngIf="libro.imagen_libro_base64"
            [src]="'data:image/jpeg;base64,' + libro.imagen_libro_base64" alt="Imagen del libro" />
        </div>
      </ion-card-header>

      <ion-card-content>
        <ion-card-title class="titulo-libro">
          {{ libro.titulo }}
        </ion-card-title>
        <p class="autor">
          <strong>Autor:</strong> {{ libro.autor }}
        </p>
        <p class="descripcion">
          {{ libro.descripcion }}
        </p>
        <p class="genero">
          <strong>Género:</strong> {{ libro.genero }}
        </p>

        <ion-buttons>
          <ion-button class="agregar" expand="block" *ngIf="rol === 'admin'" (click)="agregarLibroABiblioteca(libro)" 
          >Agregar a Biblioteca</ion-button>
          <ion-button class="modificar" *ngIf="rol === 'admin'" expand="block">
            MODIFICAR LIBRO
          </ion-button>
        </ion-buttons>

      </ion-card-content>
    </ion-card>
  </ion-item>

</ion-content>