.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        .titulo {
            font-weight: bold;
            color: #ffffff;
            font-family: "Rethink Sans", sans-serif;
            font-size: 1.5rem;
            text-align: center;
            width: 100%;
            max-width: 95%;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #ebe7e7;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
        font-weight: bold; /* Texto en negrita */
        color: #111b21; /* Color del texto */
        font-family: "Rethink Sans", sans-serif; /* Fuente similar a WhatsApp */
        text-align: left; /* Alineación a la izquierda */
        font-size: 2.25rem; /* Tamaño cómodo */
        line-height: 1.5; /* Mejora la separación vertical */
        margin: 16px 16px 0; /* Separación hacia los lados y arriba */
        padding: 8px 0; /* Separación adicional dentro del título */
    }

    ion-list {
        background: #ebe7e7;
        margin-top: 2rem;
        width: 100%;
        max-width: 90%;
        border-radius: 1rem;
        margin-left: 5%;
        border: 0.2rem solid #b8b4b4;
        border-radius: 2rem;

        ion-item {
            --background: transparent;
            width: 100%;
            max-width: 95%;
            --ion-item-border-color: #b8b4b4;

            ion-label {
                color: #e96a24;
                font-size: 1.2rem;
                font-family: "Rethink Sans", sans-serif;
            }
            ion-text {
                color: #000000;
                font-size: 1rem;
                font-family: "Rethink Sans", sans-serif;
            }
        }
        .opcion {
            width: 100%;
            max-width: 95%;

            ion-label {
                color: #e96a24;
                font-size: 1.5rem;
                font-family: "Rethink Sans", sans-serif;
            }
            ion-select {
                color: #000000;
                font-size: 1.2rem;
                font-family: "Rethink Sans", sans-serif;
            }
        }
            ion-button {
                color: #ffffff;
                --background: #e96a24;
                font-family: Helvetica;
                margin-top: 16px;
                width: 100%;
                max-width: 15%;
                font-size: 1rem;
                font-weight: bold;
                display: block;
                justify-content: center;
                align-items: center;
                margin-left: 42%;
            }
    }
}


@media (max-width: 600px) {
    ion-content {
        --background: #ebe7e7;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        ion-list {
            background: #ebe7e7;
            margin-top: 2rem;
            width: 100%;
            max-width: 90%;
            border-radius: 1rem;
            margin-left: 1.2rem;
            border: 0.2rem solid #b8b4b4;
            border-radius: 2rem;
    
            ion-item {
                --background: transparent;
                width: 100%;
                max-width: 95%;
                --ion-item-border-color: #b8b4b4;
    
                ion-label {
                    color: #e96a24;
                    font-size: 1.2rem;
                    font-family: "Rethink Sans", sans-serif;
                }
                ion-text {
                    color: #000000;
                    font-size: 1rem;
                    font-family: "Rethink Sans", sans-serif;
                }
            }
            .opcion {
                width: 100%;
                max-width: 95%;
    
                ion-label {
                    color: #e96a24;
                    font-size: 1.5rem;
                    font-family: "Rethink Sans", sans-serif;
                }
                ion-select {
                    color: #000000;
                    font-size: 1.2rem;
                    font-family: "Rethink Sans", sans-serif;
                }
            }
                ion-button {
                    color: #ffffff;
                    --background: #e96a24;
                    font-family: Helvetica;
                    margin-top: 16px;
                    width: 100%;
                    max-width: 50%;
                    font-size: 1rem;
                    font-weight: bold;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    margin-left: 25%;
                }
        }
    }
}

@media (max-height: 900px) {
    ion-content {
        --background: #ebe7e7;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        ion-list {
            background: #ebe7e7;
            margin-top: 2rem;
            width: 100%;
            max-width: 90%;
            border-radius: 1rem;
            margin-left: 3rem;
            border: 0.2rem solid #b8b4b4;
            border-radius: 2rem;
    
            ion-item {
                --background: transparent;
                width: 100%;
                max-width: 95%;
                --ion-item-border-color: #b8b4b4;
    
                ion-label {
                    color: #e96a24;
                    font-size: 1.2rem;
                    font-family: "Rethink Sans", sans-serif;
                }
                ion-text {
                    color: #000000;
                    font-size: 1rem;
                    font-family: "Rethink Sans", sans-serif;
                }
            }
            .opcion {
                width: 100%;
                max-width: 95%;
    
                ion-label {
                    color: #e96a24;
                    font-size: 1.5rem;
                    font-family: "Rethink Sans", sans-serif;
                }
                ion-select {
                    color: #000000;
                    font-size: 1.2rem;
                    font-family: "Rethink Sans", sans-serif;
                }
            }
                ion-button {
                    color: #ffffff;
                    --background: #e96a24;
                    font-family: Helvetica;
                    margin-top: 16px;
                    width: 100%;
                    max-width: 25%;
                    font-size: 1rem;
                    font-weight: bold;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    margin-left: 38%;
                }
        }
    } 
}