.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #ebe7e7;

    .titulo {
        font-weight: bold;
        color: #111b21;
        font-family: "Rethink Sans", sans-serif;
        text-align: start;
        font-size: 2rem;
        line-height: 1.5;
        margin: 16px 16px 0;
        padding: 8px 0;
    }

    ion-segment {
        --background: transparent;
        --ion-color-primary: transparent;
        width: 100%;
        max-width: 95%;
        margin-top: 1rem;
        margin-left: 1.3rem;
        position: center;
        justify-content: center;
        align-items: center;

        ion-segment-button {
            --background: #2f4858;
            color: #979797;
            width: 100%;
            max-width: 90%;
            border: 1px solid #2f4858;
            border-radius: 1rem;
            font-size: 0.7rem;
            font-family: "Rethink Sans", sans-serif;
            position: center;
            justify-content: center;
            align-items: center;
        }
    }

    /*Mostrar solicitudes como solicitante*/
    .solicitante {
        background: transparent;
        width: 100%;
        max-width: 95%;
        margin-top: 0.5rem;
        border-radius: 7px;
        justify-content: center;
        align-items: center;
        margin-left: 2%;
        flex-direction: column;


        ion-card {
            --background: #2f4858;
            width: 100%;
            max-width: 95%;
            height: auto;
            border-radius: 1rem;

            ion-card-header {
                ion-card-title {
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: #ffffff;
                }
            }

            ion-card-content {
                p {
                    font-size: 0.9rem;
                    font-family: "Rethink Sans", sans-serif;
                    color: #ffffff;
                }

                /*----------------BOTONES----------------*/
                .confirmar {
                    --background: #e96a24;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.7rem;
                    width: 100%;
                    max-width: 5rem;
                    --border-radius: 20px;
                }
                
                .cancelar {
                    --background: #ff0000;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.7rem;
                    width: 100%;
                    max-width: 6rem;
                    --border-radius: 20px;
                }

                .intercambiado {
                    --background: #2f8479;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.7rem;
                    width: 100%;
                    max-width: 5rem;
                    --border-radius: 20px;
                }

                .chat {
                    --background: #2442e9;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.7rem;
                    width: 100%;
                    max-width: 3rem;
                    --border-radius: 20px;
                }

                .reportarofer {
                    --background: #8d4e1b;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.7rem;
                    width: 100%;
                    max-width: 6rem;
                    --border-radius: 20px;
                }
                /*---------------------------------------*/
            }
        }
    }

    /*Mostrar solicitudes como prestamista*/
    .prestamista {
        background: transparent;
        width: 100%;
        max-width: 95%;
        margin-top: 0.5rem;
        margin-left: 2%;
        border-radius: 7px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        ion-card {
            --background: #2f4858;
            width: 100%;
            max-width: 95%;
            height: auto;
            border-radius: 1rem;

            ion-card-header {
                ion-card-title {
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: #ffffff;
                }
            }

            ion-card-content {
                p {
                    font-size: 0.9rem;
                    font-family: "Rethink Sans", sans-serif;
                    color: #ffffff;
                }

                /*----------------BOTONES----------------*/
                .verlibros {
                    --background: #e96a24;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.7rem;
                    width: 100%;
                    max-width: 7rem;
                    --border-radius: 20px;
                }
    
                .cancelar {
                    --background: #ff0000;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.7rem;
                    width: 100%;
                    max-width: 6rem;
                    --border-radius: 20px;
                }

                .confirmar {
                    --background: #e96a24;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.7rem;
                    width: 100%;
                    max-width: 5rem;
                    --border-radius: 20px;
                }

                .chat {
                    --background: #2442e9;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.7rem;
                    width: 100%;
                    max-width: 3rem;
                    --border-radius: 20px;
                }

                .reportarsoli {
                    --background: #8d4e1b;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.7rem;
                    width: 100%;
                    max-width: 6rem;
                    --border-radius: 20px;
                }
                /*---------------------------------------*/
            }
        }
    }

    ion-card {
        --background: #2f4858;
        width: 100%;
        max-width: 95%;
        height: auto;
        border-radius: 1rem;
        margin-left: 2.5%;

        ion-card-header {
            ion-card-title {
                font-family: "Rethink Sans", sans-serif;
                font-size: 1rem;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        ion-card-content {
            p {
                font-family: "Rethink Sans", sans-serif;
                font-size: 1rem;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}