<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Mis Intercambios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment value="solicitante" (ionChange)="cambiarSegmento($event)">
    <ion-segment-button value="solicitante">Solicitante</ion-segment-button>
    <ion-segment-button value="prestamista">Intercambio</ion-segment-button>
  </ion-segment>

  <!-- Lista de intercambios como Solicitante -->
  <ng-container *ngIf="segmentoSeleccionado === 'solicitante'">
    <ion-list class="solicitante" *ngIf="intercambiosComoSolicitante.length > 0; else noSolicitante">
      <ion-card *ngFor="let intercambio of intercambiosComoSolicitante">
        <ion-card-header>
          <ion-card-title>Libro: {{ intercambio.libro_titulo }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p class="ofertante">Usuario: {{ intercambio.ofertante }}</p>
          <p>Libro prestado: {{ intercambio.libro_titulo2 }}</p>
          <p class="estado">Estado: {{ intercambio.estado }}</p>

          <ion-button *ngIf="intercambio.estado==='libro seleccionado'" 
                      (click)="actualizarEstadoIntercambio(intercambio.id_intercambio, 'Seleccion confirmada');crearChatDeIntercambio(intercambio.id_intercambio);">
            CONFIRMAR
          </ion-button>
          <ion-button *ngIf="intercambio.estado!=='Intercambio rechazado' && intercambio.estado!=='Intercambio finalizado'" 
                      (click)="actualizarEstadoIntercambio(intercambio.id_intercambio, 'Intercambio rechazado')">
            CANCELAR
          </ion-button>
          <ion-button *ngIf="intercambio.estado==='Seleccion confirmada'" 
                      (click)="actualizarEstadoIntercambio(intercambio.id_intercambio, 'Intercambio realizado')">
            Intercambiado
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ng-template #noSolicitante>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay solicitudes 🥲</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Actualmente no tienes solicitudes de intercambio como solicitante.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-container>

  <!-- Lista de intercambios como Prestamista -->
  <ng-container *ngIf="segmentoSeleccionado === 'prestamista'">
    <ion-list class="prestamista" *ngIf="intercambiosComoPrestamista.length > 0; else noPrestamista">
      <ion-card *ngFor="let intercambio of intercambiosComoPrestamista">
        <ion-card-header>
          <ion-card-title>Libro: {{ intercambio.libro_titulo }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p class="solicitante">Usuario: {{ intercambio.solicitante }}</p>
          <p>Libro prestado: {{ intercambio.libro_titulo2 }}</p>
          <p class="estado">Estado: {{ intercambio.estado }}</p>

          <ion-button *ngIf="intercambio.estado==='Pendiente'" 
                      (click)="irAIntercambioUsuario(intercambio.id_solicitante, intercambio.id_intercambio)">
            Ver libros del solicitante
          </ion-button>
          <ion-button *ngIf="intercambio.estado!=='Intercambio rechazado' && intercambio.estado!=='Intercambio finalizado'" 
                      (click)="actualizarEstadoIntercambio(intercambio.id_intercambio, 'Intercambio rechazado')">
            CANCELAR
          </ion-button>
          <ion-button *ngIf="intercambio.estado==='Intercambio realizado'" 
                      (click)="actualizarEstadoIntercambio(intercambio.id_intercambio, 'Intercambio finalizado')">
            Confirmar intercambio
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ng-template #noPrestamista>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay solicitudes 🥲</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Actualmente no tienes solicitudes de intercambio como prestamista.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-container>
</ion-content>
