<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listar Intercambio Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Libros Disponibles para Intercambio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Verificamos si hay libros disponibles para mostrar -->
    <ion-item *ngFor="let libro of librosDisponiblesIntercambio">
      <ion-thumbnail slot="start">
        <!-- Mostrar la imagen en formato base64 -->
        <img *ngIf="libro.imagen_libro" [src]="'data:image/jpeg;base64,' + libro.imagen_libro" alt="Imagen del libro">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ libro.titulo }}</h2>
        <p>{{ libro.autor }}</p>
        <p>{{ libro.descripcion }}</p>
        <p><strong>Género:</strong> {{ libro.genero }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mostrar un mensaje si no hay libros disponibles -->
  <ion-text *ngIf="librosDisponiblesIntercambio.length === 0">
    <p>No hay libros disponibles para intercambio en este momento.</p>
  </ion-text>
</ion-content>
