<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Reseña del libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar los detalles del libro si están disponibles -->
  <ion-list *ngIf="libro">

    <ion-item>
      <ion-label><strong>Libro:</strong></ion-label>
      <ion-text>{{ libro.titulo }}</ion-text>
    </ion-item>
    
    <ion-item>
      <ion-label><strong>Prestamista:</strong></ion-label>
      <ion-text>{{ libro.prestamista }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label><strong>Autor:</strong></ion-label>
      <ion-text>{{ libro.autor }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label><strong>ISBN:</strong></ion-label>
      <ion-text>{{ libro.isbn }}</ion-text>
    </ion-item>

    <ion-item class="opcion">
      <ion-label position="stacked"><strong>Calificación</strong></ion-label>
      <ion-select [(ngModel)]="calificacion">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="opcion">
      <ion-label position="stacked"><strong>Comentario</strong></ion-label>
      <ion-select [(ngModel)]="comentario">
        <ion-select-option value="supero las expectativas">Superó las expectativas</ion-select-option>
        <ion-select-option value="cumplio con las expectativas">Cumplió con las expectativas</ion-select-option>
        <ion-select-option value="no cumplio con las expectativas">No cumplió con las expectativas</ion-select-option>
      </ion-select>
    </ion-item>
    
      <ion-button expand="block" (click)="agregarResena()">Enviar Reseña</ion-button>
      
  </ion-list>
</ion-content>
