<ion-header>
  <ion-toolbar>
    <ion-title>Reseña del Libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar los detalles del libro si están disponibles -->
  <div *ngIf="libro">
    <h2>{{ libro.titulo }}</h2>
    <p><strong>Autor:</strong> {{ libro.autor }}</p>
    <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
    <p><strong>Descripción:</strong> {{ libro.descripcion }}</p>

    <!-- Aquí puedes agregar el formulario para la reseña y valoración -->
    <ion-item>
      <ion-label>Calificación</ion-label>
      <ion-select [(ngModel)]="calificacion">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Comentario</ion-label>
      <ion-textarea [(ngModel)]="comentario"></ion-textarea>
    </ion-item>
    <ion-button (click)="agregarResena()">Enviar Reseña</ion-button>

  </div>
</ion-content>
