<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Reseña del libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar los detalles del libro si están disponibles -->
  <div *ngIf="libro">
    <h2 class="titulo">{{ libro.titulo }}</h2>
    <p><strong>Prestamista: </strong> {{ libro.prestamista }}</p>
    <p><strong>Autor:</strong> {{ libro.autor }}</p>
    <p><strong>ISBN:</strong> {{ libro.isbn }}</p>


    <ion-item>
      <ion-label position="stacked">Calificación</ion-label>
      <ion-select [(ngModel)]="calificacion">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Comentario</ion-label>
      <ion-select [(ngModel)]="comentario">
        <ion-select-option value="supero las expectativas">Superó las expectativas</ion-select-option>
        <ion-select-option value="cumplio con las expectativas">Cumplió con las expectativas</ion-select-option>
        <ion-select-option value="no cumplio con las expectativas">No cumplió con las expectativas</ion-select-option>
    </ion-select>
    
    </ion-item>
    
    <ion-button (click)="agregarResena()">Enviar Reseña</ion-button>

  </div>
</ion-content>
