ion-menu {
  background-color: transparent !important;

  .menu {
    background-color: transparent; // Asegura que el header tenga el mismo fondo
  }

  ion-list {
    background-color: #229E88 !important;

    ion-item {
      --background: transparent;
      color: black; // Color del texto
      width: 90%;
      font-family: Helvetica;

      ion-icon {
        color: black; // Color de los iconos
      }
    }
  }
}

.main-content {

  ion-header {

    --background: #229E88 !important;

    ion-toolbar {
      --background: #229E88 !important;
      color: #ffffff;

    }
  }


  ion-content {

    ion-tittle {
      color:#000000;
      font-family: Helvetica;
      font-weight: bold;
      font-size: 25px;
    }
  }
}

