ion-app {
  /*para menu desplegable*/

  ion-menu {
    --background-color: #229E88 !important;
    --background: var(--background-color) !important;

    /* Aplica la variable de color de fondo */
    opacity: 80%;
    border-radius: 7px;
    max-width: 60%;

    .menu {
      --background: var(--background-color);
    


      ion-list {
        background:transparent;
        margin-top: 100px;

        ion-button {

          
          ion-icon {}
        }

        .cerrar {

          margin-top: 200px;

          ion-icon {}

        }
      }

    }
  }

  /* main content*/
  ion-page {

    ion-header {

      ion-toolbar {

        ion-buttons {

          ion-menu-button {

          }
        }

        ion-button {

        }

        
      }
    }
  }





}