<ion-app>
  <!-- Side Menu -->
  <ion-menu contentId="main-content" *ngIf="isLoggedIn">
    <ion-header>
      <ion-toolbar>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu">
      <ion-list>
        <ion-button routerLink="/home">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          Mi perfil
        </ion-button>

        <br>
        <br>

        <ion-button routerLink="/wishlist">
          <ion-icon name="star-outline" slot="start"></ion-icon>
          Wishlist
        </ion-button>

        <br>
        <br>

        <!-- Opción Agregar libro solo para admin -->
        <ion-button *ngIf="userRole === 'admin'">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          Agregar libro
        </ion-button>

        <br>
        <br>
        <br>
        <ion-button class="cerrar" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Cerrar Sesión
        </ion-button>
      </ion-list>
    </ion-content>
    <br>
  </ion-menu>

  <!-- Main Content -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button routerLink="/login" *ngIf="!isLoggedIn">
          <span style="display: flex; align-items: center;">
            <ion-icon name="person-outline" style="font-size: 24px;"></ion-icon>
          </span>Ingresar
        </ion-button>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div id="container">
        <img src="assets/imagenes/logobookshare.png" alt="Logo">

        <ion-title><strong>BookShare</strong></ion-title>

        <p>Bookshare" es una plataforma en línea
          sin fines <br> de lucro destinada a fomentar la lectura y crear <br>una comunidad de lectores basada en la
          confianza.</p>
        <!--  <ion-searchbar slot="end" placeholder="Buscar..."></ion-searchbar> Search bar -->

        <img src="assets/imagenes/personaleyendo.png" alt="Logo">

        <p>Esta plataforma permitirá a
          los usuarios registrar, <br> intercambiar y prestar libros entre sí, promoviendo <br> así el acceso a la
          literatura de manera sostenible <br>y accesible.</p>

        <img src="assets/imagenes/intercambiandolibro.png" alt="Logo">

        <br>
      </div>
    </ion-content>
  </div>
</ion-app>