<ion-header class="fondo">
  <ion-toolbar>
    <ion-title class="titulo">Solicitudes de Préstamo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="notificaciones.length > 0; else noNotificaciones" class="list-md">
    <ion-item *ngFor="let notificacion of notificaciones">
      <ion-label>
        <h2>{{ notificacion.titulo }}</h2>
        <p>{{ notificacion.descripcion }}</p>
        <p *ngIf="!notificacion.visto" nueva>Nueva</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="marcarComoVisto(notificacion.id_notificacion)" *ngIf="!notificacion.visto">
          Marcar como visto
        </ion-button>
        <ion-button color="danger" (click)="eliminarNotificacion(notificacion.id_notificacion)">
          Eliminar
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #noNotificaciones>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sin notificaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Actualmente no tienes notificaciones.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>