<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="titulo" >Préstamos</ion-title>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment value="recibi" (ionChange)="alternarSolicitudes($event)">
    <ion-segment-button class="reci" value="recibidas">Solicitudes Recibidas
    </ion-segment-button>
    <ion-segment-button class="reali" value="realizadas">Mis Solicitudes
    </ion-segment-button>
  </ion-segment>

  <!-- Mostrar solicitudes recibidas -->
  <ng-container *ngIf="mostrarRecibidas">
    <ion-list class="rec" *ngIf="solicitudesRecibidas.length > 0; else noSolicitudesRecibidas">
      <ion-card *ngFor="let solicitud of solicitudesRecibidas">

        <ion-card-header>
          <ion-card-title>{{ solicitud.titulo }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <p class="correo">Correo: {{ solicitud.correo_2 }}</p>
          <p class="estado">Estado: {{ solicitud.estado_prestamo }}</p>
          <p class="fechadev">Fecha devolución: {{ solicitud.fecha_prestamo | date: 'dd-MM-yyyy' }}</p>
          <p class="nomusu">{{ solicitud.nombre_usuario }}</p>

          <!-- BOTONES -->
          <!-- Aceptar y Rechazar 'pendiente'-->
          <ion-buttons style="align-items: center; display: flex; justify-content: center; margin-top: 1rem;">
            <ion-button class="aceptar" *ngIf="solicitud.estado_prestamo === 'pendiente'"
              (click)="modificarEstadoSolicitud(solicitud.id_prestamo)">Aceptar</ion-button>

            <ion-button class="rechazar" *ngIf="solicitud.estado_prestamo === 'pendiente'"
              (click)="eliminarSolicitud(solicitud.id_prestamo)">Rechazar</ion-button>

            <ion-button class="resena" *ngIf="solicitud.estado_prestamo === 'Devolucion confirmada'"
              (click)="irAResena(solicitud)">Dar Reseña</ion-button>

            <!-- Rechazar y Devolución 'desarollo' -->
            <ion-button class="rechaza" *ngIf="solicitud.estado_prestamo === 'desarollo'"
              (click)="eliminarSolicitud(solicitud.id_prestamo)">Rechazar</ion-button>

            <ion-button class="devolucion" *ngIf="solicitud.estado_prestamo === 'desarrollo'"
              (click)="modificarFechaDevolucion(solicitud.id_prestamo, solicitud.correo_2)">
              Fecha Devolución
            </ion-button>

            <!-- Marcar entregado -->
            <ion-button class="entregado" *ngIf="solicitud.estado_prestamo === 'Por entregar'"
              (click)="marcarEstadoComoEntregado(solicitud.id_prestamo)">Marcar entregado</ion-button>

            <ion-button class="repsoli" (click)="reportarUsuario(solicitud.id_solicitante, solicitud.id_prestamista)"
              *ngIf="solicitud.estado_prestamo === 'Por entregar'|| solicitud.estado_prestamo === 'entregado'|| solicitud.estado_prestamo === 'Libro devuelto'  || solicitud.estado_prestamo === 'Entrega confirmada' ">
              Reportar solicitante
            </ion-button>

            <!-- Libro a devolver' -->
            <ion-button class="condev" *ngIf="solicitud.estado_prestamo === 'Libro devuelto'"
              (click)="cambiarEstado(solicitud.id_prestamo,'Devolucion confirmada')">Confirmar devolucion</ion-button>

            <ion-button class="chatear" *ngIf="solicitud.estado_prestamo !== 'pendiente'"
              (click)="obtenerIdChat(solicitud.id_prestamo)">chat</ion-button>

            <!--'aceptado' -->
            <ion-button class="aceptar" *ngIf="solicitud.estado_prestamo === 'aceptado'"
              (click)="cambiarEstado(solicitud.id_prestamo,'Por entregar')">
              Prestar
            </ion-button>

            <ion-button class="rechazar"
              *ngIf="solicitud.estado_prestamo === 'desarrollo' || solicitud.estado_prestamo === 'aceptado'"
              (click)="eliminarSolicitud(solicitud.id_prestamo)">
              Rechazar
            </ion-button>
          </ion-buttons>

        </ion-card-content>
      </ion-card>

    </ion-list>

    <ng-template #noSolicitudesRecibidas>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay solicitudes recibidas 🥲</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Actualmente no tienes solicitudes de préstamo recibidas.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-container>

  <!-- Mostrar solicitudes realizadas -->
  <ng-container *ngIf="!mostrarRecibidas">
    <ion-list id="solicitudes-realizadas" class="rea"
      *ngIf="solicitudesRealizadas.length > 0; else noSolicitudesRealizadas">

      <ion-card *ngFor="let solicitud of solicitudesRealizadas">
        <ion-card-header>
          <ion-card-title>{{ solicitud.titulo }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p class="correo">Correo: {{ solicitud.correo }}</p>
          <p class="estado">Estado: {{ solicitud.estado_prestamo }}</p>
          <p class="fecha">Fecha: {{ solicitud.fecha_prestamo | date: 'dd-MM-yyyy' }}</p>

          <ion-buttons style="align-items: center; display: flex; justify-content: center; margin-top: 1rem;">
            <ion-button class="cancelar" *ngIf="solicitud.estado_prestamo === 'pendiente'"
              (click)="eliminarSolicitud1(solicitud.id_prestamo)">Cancelar solicitud</ion-button>

            <ion-button class="cancelar" *ngIf="solicitud.estado_prestamo === 'desarrollo'"
              (click)="eliminarSolicitud1(solicitud.id_prestamo)">Cancelar solicitud</ion-button>

            <ion-button class="recepcion" *ngIf="solicitud.estado_prestamo === 'entregado'"
              (click)="cambiarEstado(solicitud.id_prestamo,'Entrega confirmada')">Confirmar recepcion</ion-button>

            <ion-button class="devolver" *ngIf="solicitud.estado_prestamo === 'Entrega confirmada'"
              (click)="cambiarEstado(solicitud.id_prestamo,'Libro devuelto')">Devolver libro</ion-button>

            <ion-button *ngIf="solicitud.estado_prestamo === 'Cancelado' && esSolicitante(solicitud)"
              (click)="eliminarSolicitud(solicitud.id_prestamo)">
              Eliminar
            </ion-button>

            <ion-button class="resena" *ngIf="solicitud.estado_prestamo === 'Devolucion confirmada'"
              (click)="irAResena(solicitud)">Dar Reseña</ion-button>

            <ion-button class="chat" *ngIf="solicitud.estado_prestamo !== 'pendiente'"
              (click)="obtenerIdChat(solicitud.id_prestamo)">chat</ion-button>

            <ion-button class="repdue" (click)="reportarUsuario(solicitud.id_prestamista,solicitud.id_solicitante)"
              *ngIf="solicitud.estado_prestamo === 'Por entregar'|| solicitud.estado_prestamo === 'entregado'|| solicitud.estado_prestamo === 'Libro devuelto'  || solicitud.estado_prestamo === 'Entrega confirmada' ">
              Reportar prestamo
            </ion-button>
          </ion-buttons>

        </ion-card-content>
      </ion-card>
    </ion-list>

    <ng-template #noSolicitudesRealizadas>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay solicitudes realizadas 🥲</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Actualmente no has realizado ninguna solicitud de préstamo.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-container>
</ion-content>