.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #ebe7e7;

    ion-title {
        font-weight: bold;
        color: #272727;
        font-family: "Rethink Sans", sans-serif;
        font-size: 2rem;
        text-align: start;
        width: 100%;
        max-width: 95%;
        margin-top: 0.5rem;
    }

    ion-segment {
        --background: transparent;
        --ion-color-primary: transparent;
        width: 100%;
        max-width: 95%;
        margin-top: 1rem;
        margin-left: 1.3rem;
        position: center;
        justify-content: center;
        align-items: center;

        .reci,
        .reali {
            --background: #2f4858;
            color: #979797;
            width: 100%;
            max-width: 90%;
            border: 1px solid #2f4858;
            border-radius: 1rem;
            font-size: 0.7rem;
            font-family: "Rethink Sans", sans-serif;
            position: center;
            justify-content: center;
            align-items: center;
        }
    }

    /*Mostrar solicitudes recibidas*/
    .rec {
        background: transparent;
        width: 100%;
        max-width: 95%;
        margin-top: 0.5rem;
        margin-left: 2.5%;
        border-radius: 7px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        ion-card {
            --background: #2f4858;
            width: 100%;
            max-width: 95%;
            height: auto;
            border-radius: 2rem;

            ion-card-header {
                ion-card-title {
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: #ffffff;
                }
            }

            ion-card-content {
                background: transparent;

                .estado,
                .correo,
                .fechadev,
                .nomusu {
                    font-size: 0.9rem;
                    font-family: "Rethink Sans", sans-serif;
                    color: #ffffff;
                }
            }

            /*----------------BOTONES----------------*/
            .aceptar {
                --background: #e96a24;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 5rem;
                --border-radius: 20px;
            }

            .rechazar {
                --background: #ff0000;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 5rem;
                --border-radius: 20px;
            }

            .devolucion {
                --background: #e96a24;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 6rem;
                --border-radius: 20px;
            }

            .chatear {
                --background: #2442e9;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 3rem;
                --border-radius: 20px;
            }

            .entregado {
                --background: #176e17;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 6rem;
                --border-radius: 20px;
            }

            .repsoli {
                --background: #8d4e1b;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 6rem;
                --border-radius: 20px;
            }

            .condev {
                --background: #176e17;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 6rem;
                --border-radius: 20px;
            }

            .resena {
                --background: #2f8479;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 5rem;
                --border-radius: 20px;
            }

            /*--------------------------------------*/
        }
    }

    /*Mostrar solicitudes realizadas*/
    .rea {
        background: transparent;
        width: 100%;
        max-width: 95%;
        margin-top: 0.5rem;
        margin-left: 2.5%;
        border-radius: 7px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        ion-card {
            --background: #2f4858;
            width: 100%;
            max-width: 95%;
            height: auto;
            border-radius: 2rem;

            ion-card-header {
                ion-card-title {
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: #ffffff;
                }
            }

            ion-card-content {
                background: transparent;

                .estado,
                .correo,
                .fecha {
                    font-size: 0.9rem;
                    font-family: "Rethink Sans", sans-serif;
                    color: #ffffff;
                }
            }

            /*----------------BOTONES----------------*/

            .cancelar {
                --background: #ff0000;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 6rem;
                --border-radius: 20px;
            }

            .chat {
                --background: #2442e9;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 3rem;
                --border-radius: 20px;
            }

            .repdue {
                --background: #8d4e1b;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 5rem;
                --border-radius: 20px;
            }

            .recepcion {
                --background: #176e17;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 6rem;
                --border-radius: 20px;
            }

            .devolver {
                --background: #176e17;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 6rem;
                --border-radius: 20px;
            }

            .resena {
                --background: #2f8479;
                color: #ffffff;
                font-family: "Rethink Sans", sans-serif;
                font-size: 0.7rem;
                width: 100%;
                max-width: 5rem;
                --border-radius: 20px;
            }

            /*--------------------------------------*/
        }
    }
}
/*Mostrar que no hay solicitudes */
ion-card {
    --background: #e96a24;
    width: 100%;
    max-width: 95%;
    height: auto;
    border-radius: 2rem;
    margin-left: 2.5%;

    ion-card-header {
        ion-card-title {
            font-family: "Rethink Sans", sans-serif;
            font-size: 1rem;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    ion-card-content {
        p {
            font-family: "Rethink Sans", sans-serif;
            font-size: 1rem;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/*
@media (max-width: 600px) {
    ion-content {
        ion-title {
            font-size: 1.5rem;
        }
        /*Mostrar solicitudes recibidas*/
/* .rec {
            ion-card {
                ion-card-header {
                    ion-card-title {
                        font-size: 1rem;
                    }
                }
                ion-card-content {
                    .estado,
                    .correo,
                    .fechadev,
                    .nomusu {
                        font-size: 0.8rem;
                    }
                }
                /*----------------BOTONES----------------
                .aceptar {
                    font-size: 0.7rem;
                    max-width: 22%;
                }
                .rechazar {
                    font-size: 0.7rem;
                    max-width: 20%;
                }
                .devolucion {
                    font-size: 0.7rem;
                    max-width: 44%;
                }
                .chatear {
                    font-size: 0.7rem;
                    max-width: 12%;
                }
                .entregado {
                    font-size: 0.7rem;
                    max-width: 11%;
                }
                .repsoli {
                    font-size: 0.7rem;
                    max-width: 12%;
                }
                .condev {
                    font-size: 0.7rem;
                    max-width: 13%;
                }
                .resena {
                    font-size: 0.7rem;
                    max-width: 7%;
                }
                /*--------------------------------------*
            }
        }
        /*Mostrar solicitudes realizadas*
        .rea {
            ion-card {
                ion-card-header {
                    ion-card-title {
                        font-size: 1rem;
                    }
                }
                ion-card-content {
                    .estado,
                    .correo,
                    .fecha {
                        font-size: 0.8rem;
                    }
                }
                /*----------------BOTONES----------------*
                .cancelar {
                    font-size: 0.7rem;
                    max-width: 45%;
                }
                .chat {
                    font-size: 0.7rem;
                    max-width: 12%;
                }
                .repdue {
                    font-size: 0.7rem;
                    max-width: 36%;
                }
                .recepcion {
                    font-size: 0.7rem;
                    max-width: 11%;
                }
                .devolver {
                    font-size: 0.7rem;
                    max-width: 8%;
                }
                .resena {
                    font-size: 0.7rem;
                    max-width: 7%;
                }
                /*--------------------------------------*
            }
        }
    }
}

@media (max-height: 900px) {
    ion-content {
        ion-title {
            font-size: 1.5rem;
        }
        /*Mostrar solicitudes recibidas*
        .rec {
            ion-card {
                ion-card-header {
                    ion-card-title {
                        font-size: 1rem;
                    }
                }
                ion-card-content {
                    .estado,
                    .correo,
                    .fechadev,
                    .nomusu {
                        font-size: 0.8rem;
                    }
                }
                /*----------------BOTONES----------------*
                .aceptar {
                    font-size: 0.8rem;
                    max-width: 15%;
                }
                .rechazar {
                    font-size: 0.8rem;
                    max-width: 12%;
                }
                .devolucion {
                    font-size: 0.7rem;
                    max-width: 20%;
                }
                .chatear {
                    font-size: 0.9rem;
                    max-width: 8%;
                }
                .entregado {
                    font-size: 0.7rem;
                    max-width: 20%;
                }
                .repsoli {
                    font-size: 0.8rem;
                    max-width: 24%;
                }
                .condev {
                    font-size: 0.8rem;
                    max-width: 25%;
                }
                .resena {
                    font-size: 0.8rem;
                    max-width: 13%;
                }
                /*--------------------------------------*
            }
        }
        /*Mostrar solicitudes realizadas*
        .rea {
            ion-card {
                ion-card-header {
                    ion-card-title {
                        font-size: 1rem;
                    }
                }
                ion-card-content {
                    .estado,
                    .correo,
                    .fecha {
                        font-size: 0.8rem;
                    }
                }
                /*----------------BOTONES----------------*
                .cancelar {
                    font-size: 0.8rem;
                    max-width: 15%;
                }
                .cancela {
                    font-size: 0.8rem;
                    max-width: 15%;
                }
                .chat {
                    font-size: 0.8rem;
                    max-width: 8%;
                }
                .repdue {
                    font-size: 0.8rem;
                    max-width: 18%;
                }
                .recepcion {
                    font-size: 0.8rem;
                    max-width: 23%;
                }
                .devolver {
                    font-size: 0.8rem;
                    max-width: 17%;
                }
                .resena {
                    font-size: 0.8rem;
                    max-width: 13%;
                }
                /*--------------------------------------*
            }
        }
    }
}*/