.fondo {
    ion-toolbar {
        --background: #229E88 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        .titulo {
            font-weight: bold;
            color: #ffffff;
            font-family: Helvetica;
            font-size: 1.5rem;
            text-align: center;
            width: 100%;
            max-width: 95%;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;



    ion-row {

        ion-col {

            ion-card {
                --background: #ffffff;
                width: 100%;
                max-width: 85%;
                height: auto;
                border-radius: 5%;


                ion-card-header {

                    .libro {
                        margin-bottom: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .imagen {
                            object-fit: cover;
                        }
                    }

                    .titulo {
                        color: #000000;
                        font-size: 18px;
                        font-family: Helvetica;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .autor {
                        color: #000000;
                        font-size: 14px;
                        font-family: Helvetica;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    p {
                        color: #000000;
                        font-size: 14px;
                        font-family: Helvetica;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                ion-card-content {

                    .disponible {
                        color: #ffffff;
                        --background: #10c3f0;
                        border-radius: 15px;
                        font-family: Helvetica;
                        margin-top: 16px;
                        width: 100%;
                        max-width: 60%;
                        font-size: 16px;
                        font-weight: bold;
                        display: block;
                        justify-content: center;
                        align-items: center;
                        margin-left: 20%;

                    }

                    .eliminar {
                        color: #ffffff;
                        --background: #ff0000;
                        border-radius: 15px;
                        font-family: Helvetica;
                        margin-top: 16px;
                        width: 100%;
                        max-width: 60%;
                        font-size: 16px;
                        font-weight: bold;
                        display: block;
                        justify-content: center;
                        align-items: center;
                        margin-left: 20%;
                    }
                }
            }
        }
    }

    ion-item {
        --background: transparent;
        --ion-item-border-color: transparent;
        
        ion-label {
            
            color: #000000;
            font-size: 18px;
            font-family: Helvetica;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;

        }

    }

}