<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Solicitud para incorporación de libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid *ngIf="libros.length > 0; else noBooks">
    <ion-row>
      <!-- Cada libro en su respectiva columna -->
      <ion-col size="10" size-md="5" size-lg="3" *ngFor="let libro of libros">
        <ion-card>
          <ion-card-header>
            <div class="libro">
              <img class="imagen" *ngIf="libro.imagen_libro_base64" [src]="'data:image/jpeg;base64,' + libro.imagen_libro_base64" alt="Imagen del libro" />
            </div>
            <ion-card-title class="titulo">{{ libro.titulo }}</ion-card-title>
            <ion-card-subtitle class="autor">Autor: {{ libro.autor }}</ion-card-subtitle>
            <p class="isbn">ISBN: {{ libro.isbn }}</p>
          </ion-card-header>

          <ion-card-content>
            <ion-button class="disponible" expand="block" (click)="modificarEstado(libro.isbn)">
              {{ libro.estado ? 'Marcar como No disponible' : 'Marcar como Disponible' }}
            </ion-button>
            <ion-button class="eliminar" expand="block" (click)="eliminarLibro(libro.isbn)">
              Eliminar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #noBooks>
    <ion-item>
      <ion-label>No hay libros disponibles</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
