<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondobody">
  <ion-title class="titulo">CSV Loader</ion-title>

  <form (ngSubmit)="onSubmit()">

    <ion-item class="cargarcsv">
      <input type="file" (change)="onFileChange($event)" accept=".csv" required />
    </ion-item>

    <ion-button class="botonsubircsv" expand="full" type="submit" [disabled]="!csvFile">
      Cargar CSV
    </ion-button>

  </form>
</ion-content>
