.fondo {
    ion-toolbar {
        --background: #229E88 !important;
        color: #ffffff;

        ion-title {
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            font-family: Helvetica;
            left: 50%;
            transform: translateX(-3%);
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #f0dfc0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    ion-list {
        background: #c5bbbb;
        width: 95%;
        --border-color: #ffffff;

        ion-item {
            --background: #c5bbbb;
            --ion-item-border-color: transparent;
            display: flex; /* Cambiado a flex para uso de flex-direction */
            flex-direction: column; /* Para que los items se apilen verticalmente */

            ion-avatar {

                .foto {}
            }

            ion-label {

                h2 {
                    color: #000000;
                    font-family: Helvetica;
                }

                p {
                    color: #000000;
                    font-family: Helvetica;

                    span {
                        color: #000000;
                        font-family: Helvetica;

                    }
                }
            }

            ion-button {
                --background: #229E88;
                color: #ffffff;
                font-family: Helvetica;
            }
        }
    }
    
    .nohay {
            color: #000000;
            font-family: Helvetica;
            display: flex;
            justify-content: center;
            align-items: center;

    }
    
}


@media (min-width: 2560px) {
    ion-content {

        ion-list {
            padding: 0 10px;
            max-width: 80%;
            margin-left: 25%;

            ion-item {
                width: 100%;
                max-width: 60%;


                ion-avatar {

                    .foto {}
                }

                ion-label {

                    h2 {
                        font-size: 16px;

                    }

                    p {
                        font-size: 14px;

                        span {
                            font-size: 14px;
                        }
                    }
                }

                ion-button {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    ion-content {

        ion-list {
            background: transparent;
            padding: 0 10px;
            max-width: 80%;
            margin-left: 25%;

            ion-item {
                width: 100%;
                max-width: 60%;


                ion-avatar {

                    .foto {}
                }

                ion-label {

                    h2 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;

                        span {
                            font-size: 14px;
                        }
                    }
                }

                ion-button {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 600px) {

    ion-content {

        ion-list {
            margin-left: 2.5%;

            ion-item {

                ion-avatar {

                    .foto {}
                }

                ion-label {

                    h2 {
                        font-size: 14px;
                    }

                    p {
                        font-size: 12px;

                        span {
                            font-size: 12px;
                        }
                    }
                }

                ion-button {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-height: 900px) {

    ion-content {

        ion-list {
            background: transparent;
            padding: 0 10px;
            max-width: 85%;
            margin-left: 20%;

            ion-item {
                width: 100%;
                max-width: 70%;

                ion-avatar {

                    .foto {}
                }

                ion-label {

                    h2 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;

                        span {
                            font-size: 14px;
                        }
                    }
                }

                ion-button {
                    font-size: 14px;
                }
            }
        }
    }
}