<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/listar-libro">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Personas con el libro ISBN: {{ isbn }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <!-- Filtro de Ubicación -->
  <ion-item>
    <ion-label position="stacked">Filtrar por Ubicación</ion-label>
    <ion-select [(ngModel)]="ubicacionSeleccionada" placeholder="Seleccione una ubicación">
      <ion-select-option value="">Todas</ion-select-option> <!-- Opción para mostrar todos -->
      <ion-select-option value="concepcion">Concepción</ion-select-option>
      <ion-select-option value="talcahuano">Talcahuano</ion-select-option>
      <ion-select-option value="chiguayante">Chiguayante</ion-select-option>
      <ion-select-option value="hualpen">Hualpen</ion-select-option>
      <ion-select-option value="hualqui">Hualqui</ion-select-option>
      <ion-select-option value="sanpedrodelapaz">San Pedro de la Paz</ion-select-option>
      <ion-select-option value="coronel">Coronel</ion-select-option>
    </ion-select>
  </ion-item>

  <br>

  <ion-list *ngIf="personasFiltradas().length > 0; else noData">
    <ion-item *ngFor="let persona of personasFiltradas()">
      <ion-avatar [routerLink]="['/perfil', persona.correo]" slot="start">
        <img class="foto" *ngIf="persona.foto_perfil_base64" 
             [src]="'data:image/jpeg;base64,' + persona.foto_perfil_base64" 
             alt="Foto de perfil de {{ persona.nombre_usuario }}">
      </ion-avatar>

      <ion-label>
        <h2 [routerLink]="['/perfil', persona.correo]" style="cursor: pointer;">
          {{ persona.nombre_usuario }}
        </h2>
        <p>Email: {{ persona.correo }}</p>
        <p>Ubicación: {{ persona.ubicacion }}</p>
        <p>Disponible intercambio: 
          <span *ngIf="persona.disponible_intercambio === 1; else noIntercambio">Sí</span>
          <ng-template #noIntercambio>No</ng-template>
        </p>
        <p>Disponible préstamo: 
          <span *ngIf="persona.disponible_prestamo === 1; else noPrestamo">Sí</span>
          <ng-template #noPrestamo>No</ng-template>
        </p>
      </ion-label>

      <ion-button 
        *ngIf="persona.disponible_prestamo === 1" 
        (click)="solicitarPrestamo(persona.id_usuario, persona.id_biblioteca, persona.correo)"
        slot="end">
        Solicitar Préstamo
      </ion-button>
      <ion-button 
      *ngIf="persona.disponible_intercambio === 1" 
      (click)="solicitarIntercambio(isbn, persona.id_usuario)"
      slot="end">
      Solicitar Intercambio
    </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <p class="nohay">No se encontraron usuarios con este libro 🥲</p>
  </ng-template>
</ion-content>
