/* Forzar colores en el header y toolbar */
.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;

        ion-title {
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            font-family: Helvetica;
            display: flex;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}
.fondo-blanco{
    background-color: white;
    color: white !important;
    ion-card {
        --background: white !important;
        ion-item {
            --background: #e96a24 !important;
        }
    }
    ion-list{
        --background: #e96a24 !important;
    }
    
}
.naranjo-header {
    --background: #FFA500 !important; /* Naranjo */
    --color: #FFFFFF !important; /* Texto blanco */
  }
  
  ion-toolbar {
    --background: #FFA500 !important; /* Fondo naranjo */
    --ion-toolbar-background: #FFA500 !important; /* Fondo naranjo */
    --color: #FFFFFF !important; /* Texto blanco */
  }
  
  .fondo-blanco {
    --background: #FFFFFF !important; /* Fondo blanco para ion-content */
  }
  
  /* Estilos para la tarjeta de filtro */
  .tarjeta-filtro {
    --background: #FFFFFF !important; /* Fondo blanco */
    color: #000000 !important; /* Texto negro */
    margin: 10px;
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para cada tarjeta de persona */
  .tarjeta-persona {
    background-color: #FFFFFF !important; /* Fondo blanco */
    color: #000000 !important; /* Texto negro */
    margin: 10px;

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para ion-select en la tarjeta de filtro */
  ion-select {
    --background: #e96a24 !important; /* Fondo blanco */
    --placeholder-color: #e96a24 !important; /* Texto placeholder negro */
    --color: #e96a24 !important; /* Texto negro */
  }
  
  /* Estilo de la sección de "No hay datos" */
  .nohay {
    text-align: center;
    color: #888888;
    font-size: 1.1em;
  }
  
  /* Asegura que el texto principal esté en negro */
  ion-title,
  ion-label,
  ion-select,
  h2,
  p {
    color: #000000 !important; /* Texto negro */
  }
  
  /* Opciones de ion-select */
  ion-select-option {
    color: #000000 !important; /* Texto negro en opciones */
  }
  
  /* Asegura que los botones mantengan el color adecuado */
  ion-button[color="primary"] {
    --background: #4285f4 !important; /* Azul para Préstamo */
  }
  
  ion-button[color="secondary"] {
    --background: #34a853 !important; /* Verde para Intercambio */
  }

  i-item{
    --background: #34a853 !important; 
  }

  p{
    color: white !important;
  }

  h2{
    color: white !important;
  }

  ion-select{
    color: white !important;
  }

  .negro{
    background-color: white;
  }

  .btn-tarjeta{
   --background: rgb(255, 81, 0) !important;
   border-radius: 5px;

 
  }