.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        .titulo {
            font-weight: bold;
            color: #ffffff;
            font-family: Helvetica, sans-serif;
            font-size: 1.5rem;
            text-align: center;
            width: 100%;
            max-width: 95%;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #ebe7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    ion-list {
        background: #4d4d4d;
        width: 100%;
        max-width: 95%;
        margin-left: 2%;
        margin-top: 1%;
        border: 3px solid #e96a24;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        ion-item {
            --background: transparent;
            width: 100%;
            max-width: 95%;
            --ion-item-border-color: #e96a24;

            ion-label {

                .h2 {
                    color: #ffffff;
                    font-size: 0.8rem;
                    font-family: Helvetica, sans-serif;
                }

                .p {
                    color: #ffffff;
                    font-size: 0.8rem;
                    font-family: Helvetica, sans-serif;
                }

                .p {
                    .span {
                        color: #ffffff;
                        font-size: 0.8rem;
                        font-family: Helvetica, sans-serif;
                    }

                }

                
            }
        }
    }

}

/*
@media (min-width: 2560px) {
    ion-content {

        ion-list {
            padding: 0 10px;
            max-width: 80%;
            margin-left: 25%;

            ion-item {
                width: 100%;
                max-width: 60%;


                ion-avatar {

                    .foto {}
                }

                ion-label {

                    h2 {
                        font-size: 16px;

                    }

                    p {
                        font-size: 14px;

                        span {
                            font-size: 14px;
                        }
                    }
                }

                ion-button {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    ion-content {

        ion-list {
            background: transparent;
            padding: 0 10px;
            max-width: 80%;
            margin-left: 25%;

            ion-item {
                width: 100%;
                max-width: 60%;


                ion-avatar {

                    .foto {}
                }

                ion-label {

                    h2 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;

                        span {
                            font-size: 14px;
                        }
                    }
                }

                ion-button {
                    font-size: 14px;
                }
            }
        }
    }
}
/*
@media (max-width: 600px) {

    ion-content {

        ion-list {
            background: #4d4d4d;
            width: 100%;
            max-width: 85%;
            margin-top: 1%;
            border: 3px solid #229E88;
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8%;
            display: flex;  Cambiado a flex para uso de flex-direction 
            flex-direction: column;

            ion-item {

                ion-avatar {

                    .foto {}
                }

                ion-label {

                    h2 {
                        font-size: 14px;
                    }

                    p {
                        font-size: 12px;

                        span {
                            font-size: 12px;
                        }
                    }
                }

                ion-button {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-height: 900px) {

    ion-content {

        ion-list {
            background: transparent;
            padding: 0 10px;
            max-width: 85%;
            margin-left: 20%;

            ion-item {
                width: 100%;
                max-width: 70%;

                ion-avatar {

                    .foto {}
                }

                ion-label {

                    h2 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;

                        span {
                            font-size: 14px;
                        }
                    }
                }

                ion-button {
                    font-size: 14px;
                }
            }
        }
    }
}*/