<ion-header class="naranjo-header fondo">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/listar-libro">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Personas con ISBN: {{ isbn }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo-blanco">
  <ion-card class="tarjeta-filtro animate__animated">
    <ion-item lines="none">
      <ion-label position="stacked"><p>Filtrar por Ubicación</p></ion-label>
      <ion-select [(ngModel)]="ubicacionSeleccionada" placeholder="Seleccione una ubicación">
        <ion-select-option value="">Todas</ion-select-option>
        <ion-select-option value="concepcion">Concepción</ion-select-option>
        <ion-select-option value="talcahuano">Talcahuano</ion-select-option>
        <ion-select-option value="Chiguayante">Chiguayante</ion-select-option>
        <ion-select-option value="hualpen">Hualpen</ion-select-option>
        <ion-select-option value="hualqui">Hualqui</ion-select-option>
        <ion-select-option value="sanpedrodelapaz">San Pedro de la Paz</ion-select-option>
        <ion-select-option value="coronel">Coronel</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-list *ngIf="personasFiltradas().length > 0; else noData" class="negro">
    <ion-card class="tarjeta-persona" *ngFor="let persona of personasFiltradas()">
      <ion-item lines="none" class="i-item">
        <ion-avatar slot="start" [routerLink]="['/perfil', persona.correo]">
          <img class="foto" *ngIf="persona.foto_perfil_base64" 
               [src]="'data:image/jpeg;base64,' + persona.foto_perfil_base64" 
               alt="Foto de perfil de {{ persona.nombre_usuario }}">
        </ion-avatar>
        <ion-label>
          <h2 [routerLink]="['/perfil', persona.correo]" style="cursor: pointer;">
            <strong>{{ persona.nombre_usuario }}</strong>
          </h2>
          <p>Email: {{ persona.correo }}</p>
          <p>Ubicación: {{ persona.ubicacion }}</p>
          <p>Intercambio: 
            <span *ngIf="persona.disponible_intercambio === 1; else noIntercambio">Sí</span>
            <ng-template #noIntercambio>No</ng-template>
          </p>
          <p>Préstamo: 
            <span *ngIf="persona.disponible_prestamo === 1; else noPrestamo">Sí</span>
            <ng-template #noPrestamo>No</ng-template>
          </p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
          <ion-button class="btn-tarjeta" slot="end"
            *ngIf="persona.disponible_prestamo === 1" 
            (click)="solicitarPrestamo(persona.id_usuario, persona.id_biblioteca, persona.correo)">
            <p>Préstamo</p>
          </ion-button>
          <ion-button class="btn-tarjeta" slot="end"
            *ngIf="persona.disponible_intercambio === 1" 
            (click)="solicitarIntercambio(isbn, persona.id_usuario)">
            <p>Intercambio</p>
          </ion-button>

      </ion-item>
    </ion-card>
  </ion-list>

  <ng-template #noData>
    <div class="nohay animate__animated animate__fadeIn">
      <ion-icon name="sad-outline"></ion-icon>
      <p>No se encontraron usuarios con este libro 🥲</p>
    </div>
  </ng-template>
</ion-content>
