.fondo {
  ion-toolbar {
    --background: #e96a24 !important;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    ion-icon {
      color: #ffffff;
    }
  }
}

.titulo {
  font-weight: bold;
  color: #272727;
  font-family: "Rethink Sans", sans-serif;
  font-size: 2rem;
  text-align: start;
  width: 100%;
  max-width: 95%;
  margin-top: 0.5rem;
}

ion-content {
  --background: #ebe7e7;

  .noti {
    background: transparent;
    width: 100%;
    max-width: 95%;
    margin-top: 0.5rem;
    margin-right: 5%;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 2%;

    ion-card {
      --background: #2f4858;
      width: 100%;
      max-width: 95%;
      height: auto;
      border-radius: 1rem;

      ion-card-header {
        font-family: "Rethink Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: bold;
        color: #ffffff;
      }
    }

    ion-card-content {
      background: transparent;

      .descrip,
      .nueva {
        font-size: 0.9rem;
        font-family: "Rethink Sans", sans-serif;
        color: #ffffff;
      }

      .visto {
        color: #000000;
        --background: transparent;
        font-family: "Rethink Sans", sans-serif;
        font-size: 0.9rem;
        width: 100%;
        max-width: 8.1rem;
      }

      .eliminar {
        color: #ff0000;
        --background: transparent;
        font-family: "Rethink Sans", sans-serif;
        font-size: 0.9rem;
        width: 100%;
        max-width: 7rem;
      }
    }
  }

  ion-card {
    --background: #2f4858;
    width: 100%;
    max-width: 95%;
    height: auto;
    border-radius: 2rem;
    margin-left: 2.5%;

    ion-card-header {
      ion-card-title {
        font-family: "Rethink Sans", sans-serif;
        font-size: 1rem;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    ion-card-content {
      p {
        font-family: "Rethink Sans", sans-serif;
        font-size: 1rem;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}