<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="titulo">notificaciones</ion-title>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="noti" *ngIf="notificaciones.length > 0; else noNotificaciones" >

    <ion-card *ngFor="let notificacion of notificaciones" (click)="onNotificacionClick(notificacion)">

      <ion-card-header>
        <ion-card-title>{{ notificacion.titulo }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>

          <p class="descrip">{{ notificacion.descripcion }}</p>
          <p class="nueva" *ngIf="!notificacion.visto" nueva>Nueva</p>

        <ion-buttons>
          <ion-button class="visto" (click)="marcarComoVisto(notificacion.id_notificacion); $event.stopPropagation()" *ngIf="!notificacion.visto">
            Marcar visto
          </ion-button>

          <ion-button class="eliminar" (click)="eliminarNotificacion(notificacion.id_notificacion); $event.stopPropagation()">
            Eliminar
          </ion-button>
        </ion-buttons>
      </ion-card-content>

    </ion-card>
  </ion-list>

  <ng-template  #noNotificaciones>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sin notificaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Actualmente no tienes notificaciones.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>