<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="titulo">Chats</ion-title>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

<!-- Chats de préstamo -->
<div *ngIf="chats.length > 0" class="listado-chat">
  <h2 class="titulox">Chats de Préstamo</h2>
  <ion-list>
    <ion-item-sliding *ngFor="let chat of chats">
      <ion-item>
        <img class="imagen-circular" *ngIf="chat.foto_solicitante"
          [src]="'data:image/jpeg;base64,' + chat.foto_solicitante" alt="Imagen del libro" width="60px" height="60px"/>
        <ion-label class="listado-chat">
          <h3 class="chat-titulo">{{ chat.titulo }}</h3>
          <p class="chat-dueño-soli">Solicitante: {{ chat.correo_usuario_prestamista }}</p>
          <p class="chat-dueño-soli">Dueño: {{ chat.correo_usuario_solicitante || 'N/A' }}</p>
        </ion-label>
        <ion-button (click)="irAlChat(chat.id_chat)">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- Acción de eliminar que aparece al deslizar hacia la izquierda -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarChat(chat.id_chat)">
          <ion-icon class="ion-item-option" name="trash-outline" ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>

<!-- Chats de intercambio -->
<div *ngIf="chatsIntercambio.length > 0" class="listado-chat">
  <h2 class="titulox">Chats de Intercambio</h2>
  <ion-list>
    <ion-item-sliding *ngFor="let chat of chatsIntercambio">
      <ion-item>
        <img class="imagen-circular" *ngIf="chat.foto_solicitante"
          [src]="'data:image/jpeg;base64,' + chat.foto_solicitante" alt="Imagen del libro" width="60px" height="60px"/>
        <ion-label class="listado-chat">
          <h3 class="chat-titulo"> {{ chat.titulo }} </h3>
          <p>Solicitante: {{ chat.correo_usuario_prestamista }}</p>
          <p>Dueño: {{ chat.correo_usuario_solicitante || 'N/A' }}</p>
        </ion-label>
        <ion-button (click)="irAlChat(chat.id_chat)">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- Acción de eliminar que aparece al deslizar hacia la izquierda -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarChat(chat.id_chat)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>


  <div *ngIf="(chats.length === 0 && chatsIntercambio.length === 0) && !errorMessage">
    <p>No tienes chats disponibles.</p>
  </div>
</ion-content>
