.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

      

        ion-icon {
            color: #ffffff;
        }
    }
}


ion-item-options {
    width: 100%; /* Ocupa todo el ancho disponible */
 
    padding-right: 0px;  /* Da más espacio para el botón de eliminación */
      


  }
  
  ion-item-option {
    font-size: 30px; /* Aumenta el tamaño del texto y el icono */
    padding: 0; /* Elimina el padding para que el botón ocupe todo el espacio */
    height: 100%; /* Hace que el botón ocupe toda la altura del item */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra el ícono */
    align-items: center; /* Centra el ícono verticalmente */
    background-color: #f44336; /* Fondo rojo para el botón de eliminación */
    color: white; /* Hace que el ícono sea visible */
  }
  

.titulo {
    font-weight: bold; /* Texto en negrita */
    color: #111b21; /* Color del texto */
    font-family: "Rethink Sans", sans-serif; /* Fuente similar a WhatsApp */
    text-align: left; /* Alineación a la izquierda */
    font-size: 2.25rem; /* Tamaño cómodo */
    line-height: 1.5; /* Mejora la separación vertical */
    margin: 16px 16px 0; /* Separación hacia los lados y arriba */
    padding: 8px 0; /* Separación adicional dentro del título */
}




ion-content {
    --background: #ebe7e7;
    .imagen-circular {
        width: 60px;
        height: 60px;
        border-radius: 50%; /* Hace que la imagen sea circular */
        object-fit: fill; /* Asegura que la imagen se ajuste bien dentro del contenedor circular */
        margin-right: 10px;
        
      }
      .chat-titulo {
        font-size: 1.1rem; /* Ajusta el tamaño de la fuente según sea necesario */
        font-weight: bold; /* Opcional: agrega negrita al título */
        color: #444444; /* Opcional: cambia el color del título */
      }
      .titulox {
        font-size: 1.5rem; /* Ajusta el tamaño de la fuente según sea necesario */
        font-weight: 400; /* Opcional: agrega negrita al título */
        color: #444444; /* Opcional: cambia el color del título */
        text-align: center;
        background-color: #a1a1a1; /* Color de fondo gris */
        padding: 10px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados */
        margin: 10px 0;
        box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2) /* Sombra suave */
      }
          ion-list {
        background: transparent;
        width: 90%;
        margin-top: 1%;
        
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;

        ion-item {
            --background: transparent;
            width: 95%;
            --ion-item-border-color: #cacaca;
            margin-top: 5px;
            margin-left:-4%;

            ion-label {
                h2 {
                    font-family: "Rethink Sans", sans-serif;
                    color: #444444;
                    font-size: 1rem;
                }

                p {
                    font-family: "Rethink Sans", sans-serif;
                    color: #444444;
                    font-size: 1rem;
                }
            }

            ion-button {
                --background: #2f4858;

                ion-icon {
                    color: #ffffff;
                    font-size: 1rem;
                }
            }
        }
    }

    p {
        font-family: "Rethink Sans", sans-serif;
        color: #ffffff;
        font-size: 1rem;
    }
}
