.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;


        ion-icon {
            color: #ffffff;
        }
    }
}

.titulo {
    font-weight: bold; /* Texto en negrita */
    color: #111b21; /* Color del texto */
    font-family: "Rethink Sans", sans-serif; /* Fuente similar a WhatsApp */
    text-align: left; /* Alineación a la izquierda */
    font-size: 2.25rem; /* Tamaño cómodo */
    line-height: 1.5; /* Mejora la separación vertical */
    margin: 16px 16px ; /* Separación hacia los lados y arriba */
    padding: 8px 0; /* Separación adicional dentro del título */

}   




ion-content {
    --background: #ebe7e7;

    

    .listado-chat {
        h2 {
            font-size: 1.3rem;
            font-weight: bold;
            font-family: "Rethink Sans", sans-serif;
            color: #444444;
            text-align: center;
            background-color: #a1a1a1;
            padding: 10px;
            border-radius: 5px;
            margin: 10px 0;
            box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 60%;
            margin-left: 20%;
        }

        ion-list {
            background: transparent;
            width: 100%;
            max-width: 90%;
            margin-top: 1%;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 5%;
            border: 3px solid #2f4858;

            ion-item-sliding {
                ion-item {
                    --background: transparent;
                    width: 100%;
                    max-width: 95%;
                    --ion-item-border-color: #2f4858;
                    margin-top: 0.5rem;
                    margin-left: 1%;

                    img {
                        width: 100%;
                        max-width: 60px;
                        border-radius: 50%;
                        object-fit: fill;
                        margin-right: 5%;
                    }

                    ion-label {

                        h3,
                        p {
                            font-family: "Rethink Sans", sans-serif;
                            color: #444444;
                            font-size: 1rem;
                        }
                    }

                    ion-button {
                        --background: #2f4858;

                        ion-icon {
                            color: #ffffff;
                            font-size: 1rem;
                        }
                    }
                }

                ion-item-options {
                    ion-item-option {
                        color: #ff0000;
                        --ion-item-border-color: #ff0000;
                        width: 100%;
                        max-width: 20%;

                        ion-icon {
                            color: #ffffff;
                            font-size: 2rem;
                        }
                    }
                }




            }
        }
    }

    p {
        font-family: "Rethink Sans", sans-serif;
        color: #ffffff;
        font-size: 1rem;
    }

}