.fondo {
    ion-toolbar {
        --background: #229E88 !important;
        color: #ffffff;

        ion-title {
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            font-family: Helvetica;
            left: 50%;
            transform: translateX(-10%);
        }

        ion-icon {
            color: #ffffff;
        }
    }
}


ion-content {
    --background: #ffffff;

    ion-item {
        --background: transparent;
        width: 90%;

        ion-label {
            color: #229E88;
            font-size: 25px;
            font-family: Helvetica;
        }


        .opcion {
            color: #000000;
            font-size: 15px;
            font-family: Helvetica;
        }

        ion-input {
            color: #000000;
            font-size: 15px;
            font-family: Helvetica;
        }

        .foto {
            margin-block: 15px;
            color: #000000;
            font-size: 14px;
            font-family: Helvetica;

        }   


    }
    .imagen {
        max-width: 80%;
        max-height: 200px;
        margin-top: 10px;
        left: 30%;
        transform: translateX(70%);

    }

    ion-button {
        color: #ffffff;
        --background: #229E88;
        border-radius: 15px;
        font-family: Helvetica;
        margin-top: 16px;
        padding: 12px 16px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
    }

}