<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAlPerfil()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Modificar mi perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-item>
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuarioData.nombre_usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input type="tel" [(ngModel)]="usuarioData.telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ubicación</ion-label>
      <ion-select class="opcion" type="text" [(ngModel)]="usuarioData.ubicacion" required label="Seleccione opción">
        <ion-select-option value="concepcion">Concepción</ion-select-option>
        <ion-select-option value="talcahuano">Talcahuano</ion-select-option>
        <ion-select-option value="chiguayante">Chiguayante</ion-select-option>
        <ion-select-option value="hualpen">Hualpen</ion-select-option>
        <ion-select-option value="hualqui">Hualqui</ion-select-option>
        <ion-select-option value="sanpedrodelapaz">San Pedro de la Paz</ion-select-option>
        <ion-select-option value="coronel">Coronel</ion-select-option>
      </ion-select> 
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Foto de Perfil</ion-label>
      <input class="foto" type="file" (change)="onFileChange($event)" accept="image/*" />
    </ion-item>

    <ion-item *ngIf="fotoSeleccionada">
        <img class="imagen" [src]="fotoSeleccionada" alt="Previsualización de la imagen" style="border-radius: 10px;"  />
    </ion-item>

    <ion-button expand="block" type="submit" (click)="guardarCambios()">Guardar</ion-button>


</ion-content>
