# Ignorar node_modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios temporales
tmp/
temp/

# Ignorar las dependencias de paquetes
package-lock.json
yarn.lock

# Sistema operativo Linux
*.swp
*~
.cache/
.DS_Store
.config/
.local/
.bash_history

# Archivos de compilación
dist/
build/
out/
*.o
*.a
*.so

# Configuración del entorno
.env
.env.local
.env.*.local

# Sistema operativo macOS
.DS_Store
.AppleDouble
.LSOverride

# Archivos de sistema de Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Ignorar archivos de compilación de TypeScript (si usas TypeScript)
*.tsbuildinfo

# Capacitor configuration (if using Capacitor)
capacitor.config.ts

# Ignorar archivos de Babel
.babelrc
.babelrc.js
.babelrc.json
babel.config.js
babel.config.json

# Ignorar archivos de Webpack
webpack.config.js
webpack.config.ts
webpack.config.prod.js
webpack.config.dev.js

# Ignorar la carpeta de babel-webpack en .angular/cache (para Windows)
\.angular\cache\**\babel-webpack\
