.fondo {
    ion-toolbar {
        --background: #e96a24 !important;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        .titulo {
            font-weight: bold;
            color: #ffffff;
            font-family: "Rethink Sans", sans-serif;
            font-size: 1.5rem;
            text-align: center;
            width: 100%;
            max-width: 95%;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

ion-content {
    --background: #ebe7e7;

    ion-segment {
        --background: transparent;
        --ion-color-primary: transparent;
        width: 100%;
        max-width: 95%;
        margin-top: 1rem;
        margin-left: 1.3rem;
        position: center;
        justify-content: center;
        align-items: center;

        .reci,
        .reali {
            --background: #e96a24;
            color: #000000;
            width: 100%;
            max-width: 90%;
            border: 1px solid #e96a24;
            border-radius: 4px;
            font-size: 0.7rem;
            font-family: "Rethink Sans", sans-serif;
            position: center;
            justify-content: center;
            align-items: center;
        }
    }

    /*Mostrar solicitudes recibidas*/
    .rec {
        background: #4d4d4d;
        width: 100%;
        max-width: 95%;
        margin-top: 0.5rem;
        margin-left: 2.5%;
        border: 3px solid #e96a24;
        border-radius: 7px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        ion-card {
            --background: transparent;
            width: 100%;
            max-width: 95%;
            height: auto;
            border-radius: 2rem;
            border: 0.1rem solid #e96a24;

            ion-card-header {
                ion-card-title {
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 1.1rem;
                    font-weight: bold;
                    /*color: #e96a24;*/
                }
            }

            ion-card-content {
                background: transparent;

                .estado,
                .correo,
                .fechadev,
                .nomusu {
                    font-size: 0.9rem;
                    font-family: "Rethink Sans", sans-serif;
                    /*color: #e96a24;*/
                }
            }

            ion-buttons {
                align-items: center;
                justify-content: center;
                display: flex;

                .aceptar {
                    --background: #e96a24;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.9rem;
                    width: 100%;
                    max-width: 15%;
                }

                .rechazar {
                    --background: #ff0000;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.9rem;
                    width: 100%;
                    max-width: 15%;
                }

                .chatear {
                    --background: #2442e9;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.9rem;
                    width: 100%;
                    max-width: 25%;
                }

                .devolucion {
                    --background: #e96a24;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.75rem;
                    width: 100%;
                    max-width: 25%;
                }

                .rechaza {
                    --background: #ff0000;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.8rem;
                    width: 100%;
                    max-width: 50%;
                    top: 10%;
                }

                .entregado {
                    --background: #176e17;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.8rem;
                    width: 100%;
                    max-width: 23%;
                }

                .repsoli {
                    --background: #8d4e1b;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.8rem;
                    width: 100%;
                    max-width: 23%;
                }

                .condev {
                    --background: #176e17;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.8rem;
                    width: 100%;
                    max-width: 24%;
                }

                .resena {
                    --background: #176e17;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.8rem;
                    width: 100%;
                    max-width: 30%;
                }
            }
        }
    }

    /*Mostrar solicitudes realizadas*/
    .rea {
        background: #4d4d4d;
        width: 100%;
        max-width: 95%;
        margin-top: 0.5rem;
        margin-left: 2.5%;
        border: 3px solid #e96a24;
        border-radius: 7px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        ion-card {
            --background: transparent;
            width: 100%;
            max-width: 95%;
            height: auto;
            border-radius: 2rem;
            border: 0.1rem solid #e96a24;

            ion-card-header {
                ion-card-title {
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 1.1rem;
                    font-weight: bold;
                    /*color: #e96a24;*/
                }
            }

            ion-card-content {
                background: transparent;

                .estado,
                .correo,
                .fecha {
                    font-size: 0.9rem;
                    font-family: "Rethink Sans", sans-serif;
                    /*color: #e96a24;*/
                }
            }

            ion-buttons {
                align-items: center;
                justify-content: center;
                display: flex;

                .cancelar {
                    --background: #ff0000;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.9rem;
                    width: 100%;
                    max-width: 24%;
                }

                .cancela {
                    --background: #ff0000;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.8rem;
                    width: 100%;
                    max-width: 21%;
                }

                .chat {
                    --background: #2442e9;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.9rem;
                    width: 100%;
                    max-width: 21%;
                }

                .repdue {
                    --background: #8d4e1b;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.8rem;
                    width: 100%;
                    max-width: 23%;
                }

                .recepcion {
                    --background: #176e17;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.8rem;
                    width: 100%;
                    max-width: 23%;
                }

                .devolver {
                    --background: #176e17;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.8rem;
                    width: 100%;
                    max-width: 30%;
                }

                .resenalibro {
                    --background: #176e17;
                    color: #ffffff;
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 0.8rem;
                    width: 100%;
                    max-width: 23%;
                }
            }
        }
    }

    /*Mostrar que no hay solicitudes */
    ion-card {
        --background: #e96a24;
        width: 100%;
        max-width: 95%;
        height: auto;
        border-radius: 2rem;
        border: 0.1rem solid #e96a24;
        margin-left: 2.5%;

        ion-card-header {
            ion-card-title {
                font-family: "Rethink Sans", sans-serif;
                font-size: 1rem;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        ion-card-content {
            p {
                font-family: "Rethink Sans", sans-serif;
                font-size: 1rem;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


@media (max-width: 2560px),
(max-width: 1920px) {}

@media (max-width: 600px) {
    ion-content {
        --background: #ebe7e7;

        ion-segment {
            --background: transparent;
            --ion-color-primary: transparent;
            width: 100%;
            max-width: 95%;
            margin-top: 1rem;
            margin-left: 1.3rem;
            position: center;
            justify-content: center;
            align-items: center;

            .reci,
            .reali {
                --background: #e96a24;
                color: #000000;
                width: 100%;
                max-width: 90%;
                border: 1px solid #e96a24;
                border-radius: 4px;
                font-size: 0.7rem;
                font-family: "Rethink Sans", sans-serif;
                position: center;
                justify-content: center;
                align-items: center;
            }
        }

        /*Mostrar solicitudes recibidas*/
        .rec {
            background: #4d4d4d;
            width: 100%;
            max-width: 95%;
            margin-top: 0.5rem;
            margin-left: 2.5%;
            border: 3px solid #e96a24;
            border-radius: 7px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            ion-card {
                --background: transparent;
                width: 100%;
                max-width: 95%;
                height: auto;
                border-radius: 2rem;
                border: 0.1rem solid #e96a24;

                ion-card-header {
                    ion-card-title {
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 1.1rem;
                        font-weight: bold;
                        /*color: #e96a24;*/
                    }
                }

                ion-card-content {
                    background: transparent;

                    .estado,
                    .correo,
                    .fechadev,
                    .nomusu {
                        font-size: 0.9rem;
                        font-family: "Rethink Sans", sans-serif;
                        /*color: #e96a24;*/
                    }
                }

                ion-buttons {
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    .aceptar {
                        --background: #e96a24;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.9rem;
                        width: 100%;
                        max-width: 30%;
                    }

                    .rechazar {
                        --background: #ff0000;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.9rem;
                        width: 100%;
                        max-width: 30%;
                    }

                    .chatear {
                        --background: #2442e9;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.9rem;
                        width: 100%;
                        max-width: 25%;
                    }

                    .devolucion {
                        --background: #e96a24;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.75rem;
                        width: 100%;
                        max-width: 30%;
                    }

                    .rechaza {
                        --background: #ff0000;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.8rem;
                        width: 100%;
                        max-width: 50%;
                        top: 10%;
                    }

                    .entregado {
                        --background: #176e17;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.8rem;
                        width: 100%;
                        max-width: 30%;
                    }

                    .repsoli {
                        --background: #8d4e1b;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.8rem;
                        width: 100%;
                        max-width: 30%;
                    }

                    .condev {
                        --background: #176e17;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.8rem;
                        width: 100%;
                        max-width: 30%;
                    }

                    .resena {
                        --background: #176e17;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.8rem;
                        width: 100%;
                        max-width: 30%;
                    }
                }
            }
        }

        /*Mostrar solicitudes realizadas*/
        .rea {
            background: #4d4d4d;
            width: 100%;
            max-width: 95%;
            margin-top: 0.5rem;
            margin-left: 2.5%;
            border: 3px solid #e96a24;
            border-radius: 7px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            ion-card {
                --background: transparent;
                width: 100%;
                max-width: 95%;
                height: auto;
                border-radius: 2rem;
                border: 0.1rem solid #e96a24;

                ion-card-header {
                    ion-card-title {
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 1.1rem;
                        font-weight: bold;
                        /*color: #e96a24;*/
                    }
                }

                ion-card-content {
                    background: transparent;

                    .estado,
                    .correo,
                    .fecha {
                        font-size: 0.9rem;
                        font-family: "Rethink Sans", sans-serif;
                        /*color: #e96a24;*/
                    }
                }

                ion-buttons {
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    .cancelar {
                        --background: #ff0000;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.9rem;
                        width: 100%;
                        max-width: 55%;
                    }

                    .cancela {
                        --background: #ff0000;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.8rem;
                        width: 100%;
                        max-width: 30%;
                    }

                    .chat {
                        --background: #2442e9;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.9rem;
                        width: 100%;
                        max-width: 25%;
                    }

                    .repdue {
                        --background: #8d4e1b;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.8rem;
                        width: 100%;
                        max-width: 28%;
                    }

                    .recepcion {
                        --background: #176e17;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.8rem;
                        width: 100%;
                        max-width: 30%;
                    }

                    .devolver {
                        --background: #176e17;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.8rem;
                        width: 100%;
                        max-width: 30%;
                    }

                    .resenalibro {
                        --background: #176e17;
                        color: #ffffff;
                        font-family: "Rethink Sans", sans-serif;
                        font-size: 0.8rem;
                        width: 100%;
                        max-width: 30%;
                    }
                }
            }
        }

        /*Mostrar que no hay solicitudes */
        ion-card {
            --background: #e96a24;
            width: 100%;
            max-width: 95%;
            height: auto;
            border-radius: 2rem;
            border: 0.1rem solid #e96a24;
            margin-left: 2.5%;

            ion-card-header {
                ion-card-title {
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 1rem;
                    color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            ion-card-content {
                p {
                    font-family: "Rethink Sans", sans-serif;
                    font-size: 1rem;
                    color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}


@media (max-height: 900px) {}