<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Solicitudes de Préstamo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Botones para alternar entre solicitudes recibidas y realizadas -->
  <ion-segment value="recibi" (ionChange)="alternarSolicitudes($event)">
    <ion-segment-button class="reci" value="recibidas">Solicitudes Recibidas
    </ion-segment-button>

    <ion-segment-button class="reali" value="realizadas">Solicitudes Realizadas
    </ion-segment-button>

  </ion-segment>

  <!-- Mostrar solicitudes recibidas -->
  <ng-container *ngIf="mostrarRecibidas">
    <ion-list class="rec" *ngIf="solicitudesRecibidas.length > 0; else noSolicitudesRecibidas">
      <ion-item *ngFor="let solicitud of solicitudesRecibidas">
        <ion-label>
          <h2>Libro: {{ solicitud.titulo }}</h2>
          <p>Estado: {{ solicitud.estado_prestamo }}</p>
          <p>Correo solicitante: {{ solicitud.correo_2 }}</p>
          <p>Fecha devolucion: {{ solicitud.fecha_prestamo | date: 'dd-MM-yyyy' }}</p>
          <p>{{ solicitud.nombre_usuario }}</p>
        </ion-label>

        <!-- Botón Modificar -->
        <ion-button class="aceptar" *ngIf="solicitud.estado_prestamo === 'pendiente'"
          (click)="modificarEstadoSolicitud(solicitud.id_prestamo)">Aceptar</ion-button>
        <!-- Botón Eliminar -->
        <ion-button class="rechazar" *ngIf="solicitud.estado_prestamo === 'pendiente'"
          (click)="eliminarSolicitud(solicitud.id_prestamo)">Rechazar</ion-button>

          <ion-button class="aceptar" *ngIf="solicitud.estado_prestamo === 'desarrollo'"
          (click)="actualizarEstadoSolicitudAceptado(solicitud.id_prestamo)">Emprestar</ion-button>
        <!-- Botón Eliminar -->
        <ion-button class="rechazar" *ngIf="solicitud.estado_prestamo === 'desarrollo'"
          (click)="eliminarSolicitud(solicitud.id_prestamo)">Rechazar</ion-button>
          <ion-button *ngIf="solicitud.estado_prestamo === 'desarrollo' && mostrarRecibidas" 
          (click)="modificarFechaDevolucion(solicitud.id_prestamo)">
          Fecha devolucion
        </ion-button>
      </ion-item>
      
    </ion-list>
    <ng-template #noSolicitudesRecibidas>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay solicitudes recibidas 🥲</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Actualmente no tienes solicitudes de préstamo recibidas.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-container>

  <!-- Mostrar solicitudes realizadas -->
  <ng-container *ngIf="!mostrarRecibidas">
    <ion-list class="rea" *ngIf="solicitudesRealizadas.length > 0; else noSolicitudesRealizadas">
      <ion-item *ngFor="let solicitud of solicitudesRealizadas">
        <ion-label>
          <h2>Libro: {{ solicitud.titulo }}</h2>
          <p>Estado: {{ solicitud.estado_prestamo }}</p>
          <p>Correo prestamista: {{ solicitud.correo }}</p>
          <p>Fecha: {{ solicitud.fecha_prestamo | date: 'dd-MM-yyyy' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #noSolicitudesRealizadas>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay solicitudes realizadas 🥲</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Actualmente no has realizado ninguna solicitud de préstamo.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-container>
</ion-content>