<ion-header class="fondo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Solicitudes de Préstamo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Botones para alternar entre solicitudes recibidas y realizadas -->
  <ion-segment value="recibi" (ionChange)="alternarSolicitudes($event)">
    <ion-segment-button class="reci" value="recibidas">Solicitudes Recibidas
    </ion-segment-button>
    <ion-segment-button class="reali" value="realizadas">Solicitudes Realizadas
    </ion-segment-button>
  </ion-segment>

  <!-- Mostrar solicitudes recibidas -->
  <ng-container *ngIf="mostrarRecibidas">
    <ion-list class="rec" *ngIf="solicitudesRecibidas.length > 0; else noSolicitudesRecibidas">
      <ion-item *ngFor="let solicitud of solicitudesRecibidas">
        <ion-label>
          <h2>Libro: {{ solicitud.titulo }}</h2>
          <p>Estado: {{ solicitud.estado_prestamo }}</p>
          <p>Correo solicitante: {{ solicitud.correo_2 }}</p>
          <p>Fecha devolución: {{ solicitud.fecha_prestamo | date: 'dd-MM-yyyy' }}</p>
          <p>{{ solicitud.nombre_usuario }}</p>
        </ion-label>

        <ion-button (click)="reportarUsuario(solicitud.id_solicitante, solicitud.id_prestamista)">
          Reportar al solicitante
        </ion-button>
        
        <!-- Botón Aceptar solo si está pendiente -->
        <ion-button class="aceptar" *ngIf="solicitud.estado_prestamo === 'pendiente'"
          (click)="modificarEstadoSolicitud(solicitud.id_prestamo)">Aceptar</ion-button>

        <!-- Botón Rechazar solo si está pendiente -->
        <ion-button class="rechazar" *ngIf="solicitud.estado_prestamo === 'pendiente'"
          (click)="eliminarSolicitud(solicitud.id_prestamo)">Rechazar</ion-button>

        <ion-button class="entregar" *ngIf="solicitud.estado_prestamo === 'Por entregar'"
          (click)="marcarEstadoComoEntregado(solicitud.id_prestamo)"></ion-button>

        <ion-button *ngIf="solicitud.estado_prestamo === 'Por entregar'"
          [routerLink]="['/chat', solicitud.id_prestamo]">
          Chat
        </ion-button>

        <ion-button class="msj" *ngIf="solicitud.estado_prestamo === 'Entregado'" [routerLink]="['/chat', solicitud.id_prestamo]">
          Chat
        </ion-button>

        <!-- Botón Fecha devolución disponible en estado 'desarrollo' -->
        <ion-button class="devolucion" *ngIf="solicitud.estado_prestamo === 'desarrollo'"
          (click)="modificarFechaDevolucion(solicitud.id_prestamo)">
          Fecha devolución
        </ion-button>

        <!-- Botón Prestar disponible solo si la fecha de devolución ha sido seleccionada y estado aceptado -->
        <ion-button class="aceptar" *ngIf="solicitud.estado_prestamo === 'aceptado'"
          (click)="actualizarEstadoSolicitudAceptado(solicitud.id_prestamo)">
          Prestar
        </ion-button>

        <!-- Botón Rechazar para estado 'desarrollo' o 'aceptado' -->
        <ion-button class="rechazar"
          *ngIf="solicitud.estado_prestamo === 'desarrollo' || solicitud.estado_prestamo === 'aceptado'"
          (click)="eliminarSolicitud(solicitud.id_prestamo)">
          Rechazar
        </ion-button>
      </ion-item>
    </ion-list>
    <ng-template #noSolicitudesRecibidas>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay solicitudes recibidas 🥲</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Actualmente no tienes solicitudes de préstamo recibidas.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-container>

  <!-- Mostrar solicitudes realizadas -->
  <ng-container *ngIf="!mostrarRecibidas">
    <ion-list class="rea" *ngIf="solicitudesRealizadas.length > 0; else noSolicitudesRealizadas">
      <ion-item *ngFor="let solicitud of solicitudesRealizadas">
        <ion-label>
          <h2>Libro: {{ solicitud.titulo }}</h2>
          <p>Estado: {{ solicitud.estado_prestamo }}</p>
          <p>Correo prestamista: {{ solicitud.correo }}</p>
          <p>Fecha: {{ solicitud.fecha_prestamo | date: 'dd-MM-yyyy' }}</p>
        </ion-label>

        <ion-button *ngIf="solicitud.estado_prestamo === 'pendiente' && esSolicitante(solicitud)"
        (click)="cancelarSolicitud(solicitud.id_prestamo)">
        Cancelar
      </ion-button>

      <ion-button *ngIf="solicitud.estado_prestamo === 'Cancelado' && esSolicitante(solicitud)"
          (click)="eliminarSolicitud(solicitud.id_prestamo)">
          Eliminar
        </ion-button>
        <!-- Botón para agregar reseña, solo visible si el estado es 'Entregado' y es el solicitante -->
        <ion-button *ngIf="solicitud.estado_prestamo === 'Entregado' && esSolicitante(solicitud)"  
        (click)="irAResena(solicitud.id_prestamo)">
Agregar Reseña
</ion-button>
      </ion-item>
    </ion-list>
    <ng-template #noSolicitudesRealizadas>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay solicitudes realizadas 🥲</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Actualmente no has realizado ninguna solicitud de préstamo.</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-container>
</ion-content>
