ion-tab-bar {
    --background: #229E88 !important;
    --color: #fff !important;
    --color-selected: #ffffff !important;
    height: 52px;
    border-top-left-radius: 0px; // Bordes redondeados en la parte superior izquierda
    border-top-right-radius: 0px; // Bordes redondeados en la parte superior derecha
    
  overflow: hidden; // Asegúrate de que los bordes redondeados se vean correctamente
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2); // Sombra opcional
  }
  ion-tab-button {
    font-size: 1.0rem; // Ajusta este valor para cambiar el tamaño del texto
  }
  
  ion-icon {
    font-size: 100px; // Cambia este valor para hacer los iconos más grandes o más pequeños
  }